[2014-05-09 21:43] leonsodhi opened #3 "Windows build defaults to daemonising & doesn't provide -D switch"
[code]

and

[code]

Running it normally:

[code]

[2014-05-14 11:20] unwiredlabs opened #4 "remote_syslog exits with "too many open files""
On Ubuntu 12.04, the remote_syslog2 wouldn't start with the following .yml file. I started it with -D option and this is what I got towards the end:

files:
- /var/log/apache2/access.log
- /var/log/apache2/error.log
- /opt/misc/*.log
- /var/log/mysql/error.log
- /var/www/weblogs/*.log
- /var/log/Xorg.x.log
- /var/log/alternatives.log
- /var/log/mail.log
- /var/log/messages
- /var/log/dmesg
- /var/

[2014-05-14 11:24] ghost opened #5 "Typo in Init.d example script"
In the remote_syslog.init.d linked in remote_syslog2's installation, on line 42, it says:
    $prog -c $config --pid-file $pid_file $EXTRAOPTIONS
It should say:
    $prog -c $config --pid-file=$pid_file $EXTRAOPTIONS

Without the '=', remote_syslog2 won't start saying "pid isn't set"

[2014-05-20 04:42] gopi-ar opened #9 "Doesn't monitor files that didn't exist when the process started, but were added later"
Suppose the `yml` file has a log path: `/var/www/error.log` that doesn't exist when `remote_syslog` starts.  Assume this was because the server was freshly installed, log rotated, etc. Now even if that log file is created shortly afterwards, `remote_syslog` won't monitor this until it has been restarted (`service remote_syslog restart`).

This is difficult to execute on large clusters/nodes where

[2014-05-29 01:22] #3 closed, assigned to nobody

[2014-05-29 17:22] gopi-ar opened #10 "Monitor for YML file changes so we don't have to restart"
This is an issue we face managing a small cluster of servers that have papertrail. Our `yml` file is stored in a git repo that is auto-updated every minute. If we have to add a new log path to our shared `yml` file, we push it to the repo and it updates on all servers.

However, `remote_syslog` doesn't automatically update new log-paths from this file - unless we restart the instance on all server

[2014-06-06 21:50] leonsodhi opened #11 "Don't try to tail directories"
If I have a directory structure such as:

[code]

and specify `/var/log/test/*` in the config, the following error is produced:

[code]

[2014-06-19 23:07] #5 closed, assigned to leonsodhi

[2014-07-03 16:26] marick opened #13 "Daemonized remote_syslog2 just exits on dockerized ubuntu"
We're running remote_syslog2 to pick up the log from a single app running in a Docker container (virtual Linux) on AWS. When run with the -D argument, it works. When run without, remote_syslog2 seems to immediately exit. Here's a sample run:

[code]

It creates the debug log file, but it's empty:

[code]

And the process does not exist(*):

[code]

(_) Like I said, this Ubuntu is *very_ stripped d

[2014-07-11 00:02] leonsodhi opened #15 "Wait for a newline character before forwarding"
When executing:

[code]

Ruby remote_syslog's output is:

[code]

Remote_syslog2's output is:

[code]

[2014-07-11 17:52] jhirbour opened #16 "Init scripts"
Is there a way to generate init.d scripts for this? Either in this code, or documented on the papertrail website?

[2014-07-11 19:58] #16 closed, assigned to nobody

[2014-07-15 23:00] #13 closed, assigned to nobody

[2014-07-15 23:26] leonsodhi opened #18 "Print to the debug log when daemonising"
Errors such as [this](https://github.com/papertrail/remote_syslog2/blob/39552e6f594d3fa4a74e4581b5945dbe3b8978f6/utils/daemonize.go#L59) don't appear in the debug log.

[2014-07-16 01:12] leonsodhi opened #19 "Don't overwrite pid files"
Properly implement the fix for the issue in [#17](https://github.com/papertrail/remote_syslog2/pull/17) by:
- update [lockfile](https://github.com/nightlyone/lockfile) so that  `GetOwner()` returns `ErrInvalidPid`  to `TryLock()` when it detects a blank pid file.  `TryLock()` would then delete and recreate it

[2014-07-17 22:22] #19 closed, assigned to leonsodhi

[2014-08-13 19:34] shawnbutts opened #22 "* in middle directory names in log_files.yml doesn't work the same as remote_syslog"
- /opt/app_/logs/_ used to work.  That no longer seems to be the case.
- /opt/app7.0.1/logs/\* still works though.

[2014-08-15 01:06] leonsodhi opened #23 "Display usage or print an error msg when random parameters are passed to the executable"
[code]

should display the usage info or return an error

[2014-08-26 00:57] troy opened #24 "Fall back to writing PID file to directory writable by anyone"
Try to write the PID file to the same place it does now (typically `/var/run`).

If creating that PID file fails due to permissions, try to use the same filename in the system tempdir (typically `/tmp`). That directory is writable by anyone.

If it's not practical to do that, we can consider changing universally to `/tmp`, but I'd strongly prefer to maintain backward compatibility in cases where w

[2014-08-27 16:24] troy opened #25 "Build Pages site"

[2014-08-27 16:55] troy opened #26 "Support full or partial qualified domain name as hostname"
Instead of defining the hostname in the config or using only the local hostname, we should support at least the FQDN and possibly the partial QDN, so `www42.stg.example.com` would be `www42.stg`. That's enough uniqueness to tell multiple senders with the same machine name apart, but no more.

[2014-09-01 23:09] ggayan opened #27 "new_file_check_interval is documented as an integer in the yml example, but the code expects a string"
See https://github.com/papertrail/remote_syslog2/blob/master/examples/log_files.yml.example.advanced#L20 and https://github.com/papertrail/remote_syslog2/blob/master/config_manager.go#L66

[2014-09-02 20:06] sent-hil opened #28 "At what interval are the logs sent to papertrail?"
And can we configure this option?

[2014-09-03 14:45] #22 closed, assigned to nobody

[2014-09-03 15:26] #25 closed, assigned to nobody

[2014-09-09 04:07] srid opened #29 "CLI to send random logs to the daemon"
It would be nice to include a cli that I can use to send logs to the daemon (without having to redirect process output to a log file) much in the same I use the logger tool on other newer Linux machines:

[code]

i.e.,

[code]

[2014-09-11 00:21] leonsodhi opened #30 "Clean up inotify instances on shutdown"
Following on from [#4](https://github.com/papertrail/remote_syslog2/issues/4#issuecomment-54922317)

[2014-09-19 16:12] troy opened #32 "Un-watch and reinitialize file when lstat returns not found"
If rs2 is watching a specific path (not a wildcard) and the file is removed, at least in

[code]

.. as a Docker container, rs2 will immediately be notified and do an `lstat`:

[code]

If that `abc.log` is recreated, all subsequent writes to that file are ignored, even though rs2 could have detected that it was briefly not present.

[2014-09-22 21:58] lassebunk opened #33 "Is it possible to add an include filter?"
Great app.

I'm in the situation that I only want to include two specific types of log messages (`Started (GET|POST)` and `Completed \d{3}`), as Rails logs a lot of data that fills up the monthly quota, like rendering times and other stuff.

Is this possible?

Thanks.

[2014-09-23 12:48] #33 closed, assigned to nobody

[2014-09-24 16:31] troy opened #34 "Add command-line flag to use polling instead of inotify"
See the `tail` package's [Poll](https://github.com/papertrail/remote_syslog2/blob/master/Godeps/_workspace/src/github.com/ActiveState/tail/tail.go#L44) flag, in its `Config` struct.

[2014-09-25 16:56] #29 closed, assigned to nobody

[2014-09-25 23:29] troy opened #36 "godep-installed utils/daemonize.go is different than in master"
[code]

and 864 bytes, timestamped May  8 16:46. vs in master:

[code]

and 1189 bytes, Aug 28 06:40. Only the latter file contains `ResolvePath`.

[2014-09-29 20:57] #36 closed, assigned to nobody

[2014-10-01 19:53] #28 closed, assigned to leonsodhi

[2014-10-01 21:49] leonsodhi opened #40 "Modify remote_syslog.init.d so that it's clear whether or not the process has started or stopped"
At the moment, we only see:

[code]

and

[code]

[2014-10-08 06:49] sent-hil opened #42 "newline being added when using it with Go"
When I tail the file I see: `2014-10-08 06:46:44 [gowebserver] INFO     page took: 1.146094ms`

However on papertrail I see a new line being appended after each log: https://www.dropbox.com/s/6v9hlqw17j8ghe9/Screenshot%202014-10-07%2023.48.16.png?dl=0

Any idea what's happening?

[2014-10-09 18:40] leonsodhi opened #43 "Display an error if a particular config line is malformed"
Currently, r_s2 won't complain if the following config is used:

[code]

Output:

[code]

No files are being monitored but it's not clear why that's the case.

[2014-10-15 22:52] leonsodhi opened #45 "Detect changes to watched symlinks"
Remote_syslog stops tracking a file if the directory or file that it's monitoring is a symlink that changes.

[2014-10-16 20:38] jbardin opened #46 "prepend option removed from config"
`prepend:` is no longer an option on the remote_syslog2 config.

Is it possible to re-add this option for backwards compatibility?

[2014-10-17 22:58] jbardin opened #47 "strace stops remote_syslog from sending logs"
Log output stops after following remote_syslog2 with `strace -f  -p PID`.  There are no additional logs sent both while attached to the process, as well as after detaching.

Same effect with the official release, as well as with building from scratch with go1.3 and go tip.

Tested with Ubuntu12.04

[2014-12-11 18:08] j0hnsmith opened #49 "Log from pipes"
It would be great to pipe to remote_syslog.

[2014-12-16 22:49] leonsodhi opened #50 "When reconnecting to a syslog server, always send data that was logged locally during the outage"
I've also noticed a delay when r_s2 reconnects where it takes a while to start sending.

[2014-12-19 08:50] #49 closed, assigned to nobody

[2015-01-09 17:54] windelicato commented on #45
:+1: Currently I need to restart remote_syslog whenever I deploy. This is something I miss from the previous version

[2015-01-09 18:39] troy commented on #45
Thanks, gentlemen. Noted and on our radar (and patches accepted, of course).

[2015-01-09 18:58] troy commented on #45
@TheChuckster @windelicato question for you: are you pointing remote_syslog to a specific path to the symlink, or to a glob?

Using a glob makes remote_syslog recheck that path every `--new-file-check-interval` seconds, which defaults to 10. This may make it detect the change, though I'm not sure; the file may need to not exist for one interval first. If either of you happen to have data points fr

[2015-01-09 19:08] troy commented on #47
Sounds good.

[2015-01-09 19:08] #47 closed

[2015-01-09 19:08] #46 closed

[2015-01-09 19:09] troy commented on #42
Closing because I'm fairly sure the last comment is what is or was happening. Feel free to update if not.

[2015-01-09 19:09] #42 closed

[2015-01-09 19:12] troy commented on #9
Just documenting for anyone else who comes across this issue: this is already supported and handled by using a glob. That is, remote_syslog will periodically recheck `/some/path/*.log` (or even `/some/path/error.log*`).

The behavior in this issue only applies when a wildcard is not used, such as `/some/path/error.log`.

[2015-01-09 21:31] windelicato commented on #45
@troy I'm pointing it at a glob using something like `/srv/www/*/current/var/logs/production.log`. It picks up the correct file at startup, but when `current/` links to a new directory, it fails to pick up the change after any period of time

[2015-01-09 21:44] TheChuckster commented on #45
@troy It seems like all you need to do is add a handler for inotify IN_MOVE_SELF events to inotify.go (might even have to go upstream to fsnotify to do this).

@windelicato This might be a different problem all together. I'm not sure what inotify's behavior looks like in this case (maybe it's the same thing as if a mount point changes?).

[2015-01-11 04:47] troy commented on #45
@TheChuckster Thanks for digging in here. Any chance you have a source (or personal knowledge) that IN_MOVE_SELF is delivered when a symlink is re-linked or removed and re-added? We'll try to repro it with strace before implementing a handler, of course, I'm just wondering if you happened to find a description of the behavior. inotify's manpage doesn't describe symlinks specifically.

[2015-01-11 04:48] troy commented on #45
@windelicato thanks, that gives us one specific case to work with (even if it's different than @TheChuckster's, as it may well be).

[2015-02-01 10:09] timlesallen opened #53 "Do not see logs using binary amd64/linux"
Hi, don't see any logs in paper trail, but the ruby gem version works.

Here is an excerpt from my strace, not totally sure how to interpret:
[code]
[code]
I've gone back to the ruby gem, all working OK, but figured I'd report this for the sake of improving the product. :D

Happy to provide more details, just ask.

[2015-02-01 14:16] troy commented on #53
Hi @timlesallen,

In that strace, the file size hasn't changed. 1 file starts and ends at `81391853` bytes and the other at `1232530`, ie, no new logs were written for rs2 to send :)

As far as troubleshooting this, the odds are high that this is a system-specific issue, so could you:

1. Grab an strace that's long enough for logs to written to the file, since that's the only time rs2 needs to do

[2015-02-01 14:16] #53 closed

[2015-02-02 07:33] geekpete opened #54 "Allow include_pattern functionality in combination with existing exclude_pattern"
My use case is that lots of disaparate apps need to get to a standardised logging format so that logs look at least similar to be able to grep.

Currently log data might be essentially random text as far as patterns and I need to only include specific patterns and ignore the rest. Due mostly in part to multi line logging and the lack of a standardised prefix to use for filtering.

so include_patte

[2015-02-02 07:34] geekpete commented on #54
Oops. Hit the wrong button.

[2015-02-02 14:21] troy commented on #54
I like the concept, but it seems like issues like this:

.. make it more likely to be beyond the scope of what rs2 is a great solution for. That said, I might well be wrong, and if you're up for implementing it, describe some specifics and I'm happy to work with you to arrive at something you like and can implement and that the project could merge.

[2015-02-03 23:17] ploxiln opened #55 "not only logs.papertrailapp.com is papertrail"
I'm not sure if this is "supported" or "recommended", but it looks like the code includes the TLS cert for papertrialapp.com, and uses it directly if that seems to be the dest_host: https://github.com/papertrail/remote_syslog2/blob/master/config_manager.go#L221

My papertrail account's destination, however, is `logs2.papertrailapp.com` (I noticed all this because I was building a minimal docker im

[2015-02-10 14:57] Rylon opened #56 "RFC5242 versus RFC3164 format"
Hi there,

I'm trying to use `remote_syslog2` with a Logstash syslog input, however Logstash only supports `RFC3164` format messages properly: http://logstash.net/docs/1.4.2/inputs/syslog

The Ruby version `remote_syslog` appears to send RFC3164 formatted messages which work as expected with Logstash. Would it be possible to support both message formats and make this configurable please?

Thanks!

[2015-02-19 14:09] dincho opened #57 "Use standard architecture abbreviation in package names"
[Package releases](https://github.com/papertrail/remote_syslog2/releases/tag/v0.13) are currently using non-standart architecture abbreviations.

- i386 should be used instead of 386
- x86_64 should be used instead of amd64

This is will be helpful for automated installation e.g. Ansible.

[2015-03-07 21:33] danielschonfeld opened #59 "remote_syslog is rendered non operational on overlayfs"
Our company uses docker with the overlayfs storage driver (the latest CoreOS images are like that) and since inotify isn't implemented in overlayfs remote_syslog is rendered non operational on such containers.

It appears that PR #35 solves this issue.  If it could just be integrated into RS2.

[2015-03-07 23:56] troy commented on #59
That's almost certainly the cause. Given that, and since overlayfs's lack of inotify is a known issue ([details](https://www.google.com/search?q=overlayfs+inotify), I'm going to close this issue and continue the discussion on the PR.

[2015-03-07 23:56] #59 closed

[2015-03-09 19:44] #34 closed

[2015-03-11 01:30] leonsodhi commented on #32
Just to add to that, it seems as though r_s2 does detect a file being moved but ignores deletions. This also happens when using a wildcard.

[2015-03-13 21:37] coreybutler commented on #11
+1

[2015-03-18 21:14] gmcinnes opened #63 "Allow more than one config file"
It might be handy if you could allow remote_syslog2 to follow the directory convention of:

[code]

Each yml file under there would potentially allow for the inclusion or exclusion of its own files.  That way, if I say, deploy a web app to a box, I can have it put it's own .yml file in there, and ask remote_syslog2 to reload its config.

By doing that, the web app would be able to manage its own c

[2015-03-18 23:41] troy commented on #63
Good idea. I can definitely see value to it. Any interest in implementing it?

[2015-03-20 16:14] gmcinnes commented on #63
I could give it a go, but it will be a *long* time before I get to it, because I haven't played with Go yet.

-g

On Mar 18, 2015, at 7:41 PM, Troy Davis <notifications@github.com> wrote:

[2015-03-20 16:16] troy commented on #63
Cool, thanks @gmcinnes. I'll leave this open; if anyone else wants to jump on it, feel free, and if not, we'll prioritize alongside other improvements.

[2015-04-04 14:56] vmatekole commented on #13
Hi, I have a similar issue - https://registry.hub.docker.com/u/vmatekole/remote_syslog2/dockerfile/
Using this command - docker run -d  -v /var/log:/var/log --name logger vmatekole/remote_syslog2 --debug-log-cfg=/var/log/remote_log.log --no-detach=true  --pid-file="/tmp/remote_syslog2.pid" --tcp -d log2.papertrail.com -p xxxx /var/log/spree-vend/production.log

Again, nothing appears in the debug

[2015-04-04 15:04] troy commented on #13
@vmatekole what version os rs2 are you using? Is it above the version mentioned above?

Also, you're using both the wrong hostname and wrong domain name. Change `log2.papertrail.com` to `logs2.papertrailapp.com` (or copy and paste what Papertrail's site says to use).

[2015-04-04 15:18] vmatekole commented on #13
@troy  - I am using 0.13 - I have corrected the url... However, now I get - INFO  remote_syslog.go:114 Connecting to logs2.papertrailapp.com:XXXX over tcp
2015-04-04 15:14:21 CRITICAL  remote_syslog.go:118 Cannot connect to server: dial tcp: lookup logs2.papertrailapp.com: no such host. I can telnet from the host of the container, strange. Will investigate further.

[2015-04-04 15:21] troy commented on #13
Sounds like you don't have DNS in the container. See [my Docker container doesn't have DNS, WTF](https://www.google.com/search?q=no+dns+in+container+docker)

[2015-04-04 15:27] vmatekole commented on #13
@troy  Thank you! Really helpful!

[2015-04-29 19:44] deltamualpha commented on #4
Was there any other action on this other than "increase the number of watchers and instances per process" limits? I got bit by this in production and was very unobvious what was going on because of the lack of error messaging until I started launching `remote_syslog` in the foreground.

[2015-04-29 20:10] deltamualpha commented on #4
I should also add that I've pushed `/proc/sys/fs/inotify/max_user_instances` and `/proc/sys/fs/inotify/max_user_watches` out far past the number of log files I'm trying to monitor and am still seeing failures on startup.

[2015-05-08 12:42] rmoriz opened #66 "Allow custom tags for files"
When using standard syslog, we are able to set tags for each file. This is quite useful if you have a lot of vhosts and render logs per vhost, e.g.

[code]

remote_syslog2 automatically uses the file name, so we lose the capability to separate those files.

[2015-05-08 12:48] rmoriz commented on #66
see PR #51

[2015-05-13 18:34] theschles opened #67 "Not logging changes in debug log file"
Hi there,

I'm experimenting with remote_syslog2 0.13 in both Linux-i386 (MySQL error.log) and Windows amd64 (Apache logs -- running remote_syslog in an Administrator-level cmd prompt).

I've configured remote_syslog to send the data to my local Graylog2 server as protocol:udp (I've also tried protocol:tcp).

remote_syslog2 clearly indicates it's finding the files I'm specifying in my config file.

[2015-05-13 18:44] troy commented on #67
I'm not sure :) It's not supported on Windows. If you end up with an strace log of what is happening on Linux, feel free to send it to support@papertrailapp.com.

You may want to test it against a Papertrail syslog endpoint. Nothing about remote_syslog's syslog implementation is Papertrail-specific, but it would provide a known-good receiver and receiver config to debug against.

[2015-05-13 18:44] #67 closed

[2015-05-13 18:46] troy commented on #67
BTW, if it saves you time, here's an example of how to use strace to see what a binary is doing: http://help.papertrailapp.com/kb/configuration/troubleshooting-remote-syslog-reachability ("Examine logger daemon activity")

[2015-05-13 19:45] theschles commented on #67
Those reachability tips look awesome.  I'll try them later...

[2015-05-29 20:55] deltamualpha commented on #4
Built it myself. That's a slick build process for go!

`--poll` definitely handles the failure case *better* (it doesn't crash) but still can't watch an arbitrarily large number of files (not that the ruby client could either?)

[2015-05-31 16:23] troy commented on #4
@deltamualpha If you're seeing anything unexpected, the most useful thing for debugging and troubleshooting is an `strace -f -s 500 -p 12345` (where 12345 is remote_syslog2's PID) while it's happening. Try to get at least 10 seconds before it happens (or before you make it happen, like by creating or writing to tons of files) and at least 10 seconds after. That at least gives us a fighting chance

[2015-06-01 01:06] deltamualpha commented on #4
Excellent, I've done so. It's about 5 MB; where should I send it? It's a little big for a gist.

[2015-06-01 01:17] troy commented on #4
Please send it to support@papertrailapp.com. Feel free to gzip or zip it if you prefer.

[2015-06-01 17:15] deltamualpha commented on #4
Aha, reading over the trace myself reveals the problem is not `fs.inotify.max_user_instances`
`fs.inotify.max_user_watches` but the old standby `ulimit -a`. remote_syslog was failing trying to open the 1024th file; increasing `ulimit -a` as root appears to fix it.

[2015-06-01 17:53] troy commented on #4
Good catch, @deltamualpha. You may also be able to set it in `/etc/sysctl.conf`, though the shell still may need a specific `ulimit` or profile/bashrc entry.

[2015-06-13 00:07] leonsodhi opened #70 "Release inotify instances (and other resources) for files when they disappear"
If a file is moved or deleted, remote_syslog2 will wait for it to return and then continue monitoring for changes. In cases where new log files are generated on a regular basis and old ones are moved out to another directory for archival purposes, a resource leak will occur.

[2015-06-16 11:10] leonsodhi opened #71 "Don't require a PID file location to be specified when running as a daemon"
A default path should exist so the daemon doesn't silently fail.

[2015-06-18 01:08] featalion commented on #23
@leonsodhi currently, when unknown flag is passed to executable, it prints usage message.
All arguments, even when they interleave with flags, are treated as files to watch and merged with list of files from config. Seems outdated, already resolved, or... I did not get it.

[2015-06-18 01:54] featalion commented on #24
Resolved by f0f80cdd
Works only If pid file does not set by command line argument.

[2015-06-18 02:03] featalion commented on #71
@leonsodhi do you want such behaviour even if pid file specified by user via command line argument? In other case, the feature is already present. See f0f80cd

[2015-06-18 18:16] leonsodhi commented on #23
@featalion good catch, and I didn't consider this properly when I raised it. The problem is that users are executing `remote_syslog restart` thinking that it will restart the service, but as you mentioned,  `restart` is interpreted as a file instead.

Stealing an idea from @troy, perhaps we could print something to stdout if r_s2 can't find a non-glob file path when it starts, even if it's being d

[2015-06-18 18:27] leonsodhi commented on #71
@featalion hmm, leave this one with me for the time being. I have seen this issue in the past myself (it took forever to figure out what was going wrong) and a customer recently reported it, but I can't reproduce it now and the code does look reasonable.

[2015-06-18 18:42] featalion commented on #23
In this case `remote_syslog2` behave exactly how you want. If file does not exist, it prints something like:
`{TIME} ERROR  remote_syslog.go:81 Cannot forward restart, it may not exist`

[2015-06-19 20:27] leonsodhi commented on #15
Solved in #72

[2015-06-19 20:27] #15 closed

[2015-06-25 12:43] leonsodhi commented on #57
@dincho, I've changed 386 to i386 in r_s2's makefile, but no standard seems to exist for 64-bit naming.

Debian-based distributions use [amd64](https://packages.debian.org/stable/admin/0install#pdownload), whereas those based on RedHat use [x86_64](https://fedoraproject.org/wiki/EPEL#What_packages_and_versions_are_available_in_EPEL.3F). I am inclined to leave things as they are for now, as eventua

[2015-06-25 13:49] #30 closed

[2015-06-25 14:52] dincho commented on #57
Indeed there is no formal standard and this is very subjective issue.

[2015-06-25 14:52] #57 closed

[2015-07-01 12:12] strika opened #79 "Is parse_fields option supported?"
The original remote_syslog had `parse_fields` option. Is this supported in remote_syslog2? If not, are there any plans to support it?

Thanks.

[2015-07-09 21:32] michaelshobbs opened #81 "new file contents not forwarded when using globbing"
Given the following config, I never see the contents of the newly created file. Perhaps the way the file is written to is the problem? It's created and written to once and then never again, but shouldn't `remote_syslog2` send all the contents when it sees the file get created? Also, I verified there are actual lines in the file as well.

truncated config:
[code]

output:
[code]

[2015-07-09 22:00] troy commented on #81
@michaelshobbs I'm wondering if you're encountering [Detecting new files](https://github.com/papertrail/remote_syslog2#detecting-new-files). Are all writes to the file done within 10 seconds of when it's created?

[2015-07-09 22:03] michaelshobbs commented on #81
More than likely yes.

[2015-07-09 22:21] michaelshobbs commented on #81
I'll see about modifying how those files get written to.

[2015-07-09 22:22] #81 closed

[2015-07-09 22:24] troy commented on #81
@michaelshobbs sounds good. It is changable in the code (from 10s), but you'd have to compile a new build and ensure that the glob could complete fast enough (which would mostly be an issue for huge globs and/or NFS).

[2015-07-22 07:18] cooniur opened #82 "Allow running NOT as root"
It would be better to allow `remote_syslog` running in other users than root by adding an extra parameter `--user={user}`.

[2015-07-22 12:20] troy commented on #82
It can already run as users other than root, with no argument at all. That is, this is already supported :) The user you start it as will need permission to write the PID file, but that's it.

[2015-07-22 16:41] #82 closed

[2015-08-03 02:43] azell opened #83 "Add option to sync from beginning of log file"
From the Markdown:

"remote_syslog automatically detects and activates new log files that match its file specifiers. For example, *.log may be provided as a file specifier, and remote_syslog will detect a some.log file created after it was started. Globs are re-checked every 10 seconds.

Note: messages may be written to files in the 0-10 seconds between when the file is created and when the period

[2015-08-11 12:34] kierenevans opened #84 "If port is given in quotes in the config file, it is silently ignored"
Hi,

We encountered an issue when setting the configuration file up with chef whereby if the port number is specified in single quotes, it is silently ignored and the default of 514 is used.

I have submitted a PR to fix the quoted port with the chef cookbook in question ( https://github.com/trappar/remote_syslog2-cookbook/pull/2 ) but thought I should also raise it here.

With a config file like

[2015-08-11 13:56] troy commented on #84
@kierenevans the result you saw makes sense. The config file is YAML and when it's parsed, a quoted string is treated like a string, even when the quotes contain a number. In this case, it's handled completely differently.

I just commented on that PR and will continue the discussion there.

[2015-08-11 15:54] kierenevans commented on #84
This was more a request that the port number be casted to an integer or complained about.

A scenario:
If the protocol of `tls` is left off, remote_syslog2 defaults to sending over UDP, where the port of 514 is open.
If the public IP of the box was previously assigned to another system, the owner of the previous IP will be able to read the logs sent from this misconfigured daemon.
The owner of the

[2015-08-11 22:20] scalp42 opened #85 "Panic trace"
Happening when sending a QUIT signal, not a big deal but curious about it.

[code]

Thanks for looking at it,

Anthony

[2015-08-13 18:30] Ghilteras opened #86 "daemon running but no logs are forwarded, nothing displayed with tcpdump/strace"
I have a haproxy local port that forwards my log to several graylog servers, I am trying to test remote_syslog2 on client side, I am only forwarding /var/log/messages, but when I start the process I dont see any logs getting to graylog, if I strace the process I only get a read(11, and tcpdump shows no activity, really dont understand how I am supposed to debug this, I tried the --debug-log-cfg an

[2015-08-14 00:57] troy commented on #86
@Ghilteras here's a couple things you might try:

* `sudo remote_syslog -D`, to have it not detach from the terminal
* `lsof`, to see what file FD 11 has open

And of course, make sure new logs are being written to `messages` after remote_syslog2 is started. Existing messages are not sent, only writes which occur after it's started (while it's running).

I wish I could provide tech support, but th

[2015-08-14 00:57] #86 closed

[2015-08-19 23:58] eric commented on #84
I agree that we shouldn't be silently ignoring keys if the value type doesn't match what we expect.

In this case of the port, we should definitely be coercing the string into an int. In other cases, if the type is something we don't expect we should either throw an error or at the very least a warning.

[2015-08-31 19:17] bhechinger opened #88 "WARNING: The following packages cannot be authenticated!"
I've downloaded the debian package provided for 0.14 and put it into our own apt repo.

When I try to install it I get this:

[code]

Is this signed with a key? If so, which one?

[2015-08-31 20:44] mbeale opened #89 "Projected usage is < actual usage"

[2015-09-01 17:27] #89 closed

[2015-09-28 15:03] sfroehler opened #91 "Long log entries are truncated"
We have some rather long XML Documents we write into our log files. With [remote_syslog](https://github.com/papertrail/remote_syslog) this was no problem. Since we moved to remote_syslog2 these entries are truncated. It looks like this is done after a fixed number of characters (~932 ?).
Is there some setting I can set to increase the max length? Otherwise we would have to move back to remote_sysl

[2015-09-28 15:35] troy commented on #91
Here's the cause and an easy resolution: https://github.com/papertrail/remote_syslog_logger/issues/15#issuecomment-137089599

Once you've read that and are aware of the other considerations, use the `--tls` argument (or if you truly want cleartext, `--tcp`) to switch from UDP to TCP.

[2015-09-28 15:35] #91 closed

[2015-09-28 17:19] sfroehler commented on #91
Sorry, my bad. I was sure i was already using tls. Unfortunately I did not put the protocol option destination...
Thanks for the hint! ;)

[2015-10-02 11:12] tuupola opened #93 "OSX 10.7.5 Lion support"
The Darwin binaries do not seem to support older OSX versions. Tested with OSX 10.7.5 and 0.14 release of remote syslog. Running the binary dies with `Illegal instruction: 4`.

Apparently adding `-mmacosx-version-min=10.7` flag during compile time [might fix the problem](http://stackoverflow.com/questions/14268887/what-is-the-illegal-instruction-4-error-and-why-does-mmacosx-version-min-10).

[code

[2015-10-02 12:12] tuupola commented on #93
Compiling the binaries with following fixed problem for me.

[code]

[2015-10-02 21:11] leonsodhi commented on #93
Thanks, @tuupola. Let me play with this to see what effect it has. Assuming all is well, I'll apply one of the suggested fixes and merge.

[2015-10-07 23:33] leonsodhi opened #94 "Debian 32-bit packages should have an architecture of i386 rather than 386"
[code]

A workaround is to force the installation via:

[code]

[2015-10-12 11:12] manuelmeurer opened #95 "PID file not removed"
Shouldn't the PID file be removed when I run `kill -TERM`?

[code]

[2015-10-12 14:13] troy commented on #95
That seems logical to me. I don't think remote_syslog2 is currently using godaemon to handle any signals, but the capability seems to exist.

[2015-10-13 07:14] manuelmeurer commented on #95
I don't know what the best practice is, but I'm using the [init script](https://github.com/papertrail/remote_syslog2/blob/master/examples/remote_syslog.init.d), maybe we could add `rm $pid_file` in the `stop()` function?

[2015-10-13 18:34] leonsodhi commented on #95
I'm seeing the same behaviour here on a Linux box.

We could add something into each init script, but that means it would still be broken for anyone that wants to roll their own. It seems like the binary should take care of this.

If anyone digs up anything on the best way to do this in Golang, I'd love to take a look. If I get a chance, I'll see what I can find.

[2015-10-16 09:16] manuelmeurer commented on #95
Here are some examples I found:
https://github.com/mindreframer/golang-stuff/blob/master/github.com/youtube/vitess/third_party/go/launchpad.net/gozk/zookeeper/runserver.go#L155
https://github.com/docker/docker/blob/master/pkg/pidfile/pidfile.go
https://github.com/etix/mirrorbits/blob/master/process.go#L130
Does that help?
Sorry, I'm not experienced in Go, otherwise I would implement it myself in a

[2015-10-16 21:56] leonsodhi commented on #95
Thanks, @manuelmeurer, and that Docker implementation is particularly interesting. Looks like they're handling signals [here](https://github.com/docker/docker/blob/08c5f52d70e539ff168d570b60b0c5d6c1a847c2/docker/daemon.go#L288), which relies on their [signal](https://github.com/docker/docker/blob/84be89a273742b24bb9a87ea5ccfecac97d33bfc/pkg/signal/trap.go#L22) lib and the removal function you link

[2015-10-17 07:36] manuelmeurer commented on #95
:+1:

[2015-10-21 21:57] leonsodhi opened #96 "Ensure remote_syslog2 always reconnects regardless of the error"
I haven't managed to narrow down exactly what's causing it, but 2 situations that might result in r_s2 falling over are:

* TLS negotiation takes too long to complete
* Too many failed connection attempts

[2015-10-27 00:23] leonsodhi opened #102 "Add a diagnostics option"
`--diagnostics` would execute remote_syslog in the foreground, connect, send a message, disconnect, then exit. It should output several log messages so we know what it's doing and that each action has been performed successfully.

[2015-11-18 20:40] leonsodhi commented on #96
Timeouts and the ability to dump a stack trace have been added in release 0.15. The former should solve the problem. If not, the latter will give us more information on what the process is doing and should lead to a fix.

[2015-11-18 20:40] #96 closed

[2015-11-18 20:40] leonsodhi commented on #94
Solved in release 0.15

[2015-11-18 20:40] #94 closed

[2015-11-23 19:36] bradvido commented on #83
+1
It would be ideal if the state was persisted as well, meaning only start from the beginning once. In the case that the `remote_syslog2 service` is restarted after it has tailed some files from the beginning, I wouldn't want it to restart at the beginning of all the files all over again.

For reference, the `ruby-filewatch` file-tailing library has a concept of a `sincedb` which tracks the posit

[2015-11-23 19:43] bradvido opened #108 "Option to retry on failure when using TCP"
For the use-case where we want to guarantee that we don't lose logs lines, it would be nice to have the TCP protocol have an option to "retry-after" some time interval when it detects that  the message failed to be sent to the remote machine.

Right now, this error occurs and the log line is lost:

[code]

 Obviously this wouldn't make sense for UDP.

[2015-12-04 03:55] drautb opened #109 "ARM Support?"
I'd like to use this on a Raspberry Pi. I'm willing to attempt building it myself, but it would super nice if there were a binary for ARM architectures too.

[2015-12-07 23:32] QuinnyPig commented on #95
Just tripped over this almost two months later. Awesome.

`service remote_syslog stop; service remote_syslog start` results in the process not running but reporting back that it is to the service handler.

[2015-12-08 13:48] troy commented on #95
@QuinnyPig: totally agree and on our radar to change. If you happen to get to it first, pull requests are gratefully accepted (and this one would be reviewed and merged quickly).

[2015-12-08 21:14] benneumob opened #111 "service remote_syslog status returns 0 when service is _not_ running"
This causes Chef to have an issue with starting the service (assuming you tell Chef that `status` is supported that is).

[2015-12-08 21:30] benneumob commented on #111
I'll submit a pull request later, but for me the fix is:

status(){
  if (is_running); then
    echo "Running"
    RETVAL=0
  else
    echo "Not running"
    RETVAL=1
  fi
}

[2015-12-16 00:25] troy commented on #111
It looks like many (most?) init scripts have this problem. [Here's](http://stackoverflow.com/questions/24416902/how-to-set-exit-codes-for-status-command-in-init-script-for-tomcat6) another example, and [a bunch more](https://www.google.com/search?q=%22service+status%22+returns&oq=%22service+status%22+returns&aqs=chrome..69i57.3263j0j1&sourceid=chrome&es_sm=119&ie=UTF-8) on Google. If you run acros

[2015-12-16 11:31] Bowbaq commented on #95
Just ran into this (@QuinnyPig fancy seeing you here :P). I'm happy to take a stab at fixing, the question is how to go about it.

I'm pretty sure the root cause is in https://github.com/leonsodhi/lockfile/blob/master/lockfile.go#L56-L59. On line 46 in https://golang.org/src/os/exec_unix.go#L39, `errFinished` is returned when the process is already dead (which is the case after `stop`). The type c

[2015-12-19 19:43] QuinnyPig commented on #95
@Bowbaq Small world! I've replaced the init script with something saner (but still an init script); it works really well. Should I submit a pull request, or is this something we're going to stuff into the daemon?

Either way, this init script needs fixing.

[2016-01-12 15:11] Bowbaq commented on #95
@QuinnyPig I'm definitely interested in a good init script, if you don't mind submitting a PR

[2016-01-12 18:26] soultech67 commented on #45
I am encountering what might be a similar issue. My config points directly to a file location /opt/app/logs/symlinktologfile links to /opt/app/logs/somelog. When logrotate.d rotates somelog it appears that remote_syslog stops sending any new messages to the server. I have to restart remote_syslog to get messages sent.

[2016-01-13 20:46] jbardin commented on #83
IMHO, this should be the default. I don't think the expected behavior would be to lose the start of every new log file in directories that are being watched.

[2016-01-14 20:12] leonsodhi opened #118 "Add a --version switch"
Handy when you're upgrading a number of systems.

[2016-01-14 22:15] nextmat commented on #118
:+1: This is very useful, also for scripting purposes.

[2016-01-26 02:46] mpalmerlee commented on #118
:+1: Hard to tell what version is installed otherwise

[2016-01-26 21:19] cleathers commented on #118
:+1:

[2016-01-26 21:30] troy commented on #118
Agreed and on our radar to add.

[2016-01-30 02:57] leonsodhi opened #119 "Consider enabling the debug log by default when r_s2 is installed via a package"
This would avoid the situation where something goes wrong and there's no local debug log to look at.

The packages could require logrotate as a dependency and provide a rotation config to stop the debug log consuming all free disk space.

[2016-01-30 03:13] leonsodhi opened #120 "Ignore binary data to avoid r_s2 stalling"
No idea how to do this, and the first step is figuring out how to reliably repro it.

[2016-01-30 16:21] troy commented on #120
I could see a default maximum of 25,000 characters per line or something. I think messages longer than that are very likely to be binary, rather than stringified JSON hashes.

[2016-02-08 10:22] rephus commented on #109
+1
I'd prefer not to install and setup golang (or any other dependency) on my Pi just to build this.

[2016-02-08 16:19] troy commented on #109
Anyone have experience cross-compiling to ARM (from Linux) for the Pi and/or Pi 2? Some docs imply that just setting `GOARM=6` is enough, [other docs](https://5pi.de/2015/02/10/prometheus-on-raspberry-pi/) say, well, otherwise :-)

[2016-02-08 20:43] leonsodhi commented on #109
It might be as easy as running `./all.bash` (any other steps needed are listed [here](http://dave.cheney.net/2012/09/08/an-introduction-to-cross-compilation-with-go)), changing the arch to `arm`, and then removing the `-cgo` switch. I believe it's even easier on Go 1.5, but r_s2 won't currently build on it so we're using 1.3 for the moment.

I don't have an ARM system to test on but did manage to

[2016-02-16 18:54] #118 closed

[2016-02-20 16:42] DannyBen opened #126 "Allow setting both hostname and logfile name in the config"
Following the discussion in #51, I am opening this new suggestion:

Papertrail has two "tags" per entry - the `hostname`, sometimes referred to as
the `system name`, and the `log name`, sometimes referred to as the `tag`.

PR #51 opened my apetite to be able to edit not only the second one (tag), but also the first one.

Then, we will be able to configure like this:

[code]

And the output will lo

[2016-02-22 09:26] DannyBen opened #127 "Suggestion Support config.d"
It could be helpful if we were able to use several config files under `config.d` directory rather than one single config file.

This would help when automating several sources on the same machine.

[2016-02-26 14:16] gnhuy91 commented on #95
`rm -f $pid_file` if the service stopped successfully, however, imo removing the pid file when it start cover more cases and make sure it have a clean start.

[2016-02-26 23:59] meonkeys opened #129 "proxy support"
Does remote_syslog respect OS-level proxies?

I'm running it on a Synology NAS (Intel chip, 64-bit Linux), and messages aren't getting to Papertrail. There might be some other outbound filtering problem, but I just wanted to rule out proxy issues.

The proxy works as expected for this test in the python shell:

[code]

[2016-02-27 00:32] troy commented on #129
What kind of proxy? remote_syslog isn't using HTTP, so an HTTP proxy isn't relevant.

Almost no daemons support SOCKS proxies, rs2 included.

An SSH proxy (AKA SSH tunnel, like with `ssh -L`) will automatically work, since it's invisible to the daemon.

[2016-02-27 00:39] meonkeys commented on #129
I think this is just a proxy for HTTP/S traffic. The other info you provided is helpful, thank you. I'll add more info if/when I learn more about what the heck is going on with my setup. Closing for now.

[2016-02-27 00:39] #129 closed

[2016-03-04 16:47] jstarcher opened #130 "FreeBSD Support"
After a quick analysis I don't see any FreeBSD support, though I think the port would be fairly straightforward. Am I just not seeing how to compile in FreeBSD or does this support need added?

[2016-03-04 16:50] troy commented on #130
We're not sure and don't have a way to test. If you're inclined to try compiling and/or using it, feel free: https://github.com/papertrail/remote_syslog2#development

If it builds and runs, we'd consider trying to cross-compile for fbsd as well.

[2016-03-04 16:50] #130 closed

[2016-03-16 12:37] ne0c0de opened #132 "regex pattern issue on exclude_patterns"
Hi

I want to send logs that only include "error" string. This is the regex pattern that i'm using:

These patterns

  - /^((?!error).)*$/igm
  - "/^((?!error).)*$/igm"
  - '/^((?!error).)*$/igm'
  - \/^((?!error).)*$\/igm
  - ^((?!error).)*$

are always giving me

How should i write this pattern to yaml file?

Thanks

[2016-03-16 14:15] ne0c0de commented on #54
i opened a separate issue about this but my aim is same is this issue.

I wrote an exclude pattern that i want only specific lines from log (error logs)

/^((?!error).)*$/i

but yaml parser ther papertrail is using didn't accept that pattern even on a valid yaml file.

Any suggestions appreciated

[2016-03-16 14:18] ne0c0de commented on #132
also you can see that pattern validation from http://www.rubular.com/r/GOxvvQSRQm

[2016-03-17 08:51] ne0c0de commented on #132
one of papertrail support guy (Troy) said me that papertrail is using https://golang.org/pkg/regexp/ library to parse strings and it's not supporting regular regex patterns.

i couldn't find a way to find a pattern (i made my testings on http://regoio.herokuapp.com/ ) so it's time to switch difference log monitoring tool...

[2016-03-17 09:34] #132 closed

[2016-03-24 17:09] nigelfo opened #133 "Trace/breakpoint trap running on AWS Linux 2016.3"
Running fine on AWS Linux latest version of 2015.09.  Upgrade to 2016.03 and it fails to start:

dmesg:
traps: remote_syslog[25739] trap int3 ip:80763c7 sp: ff8e8778 error:0

Launched clean 2016.03 AMI, downloaded latest version from Github (not the beta package) exactly the same error.

[2016-04-01 11:19] rmoriz opened #135 "Provide package repo"
.deb packages are quite useless without having them distributed via a repo.

Consider publishing them using your https://packagecloud.io/papertrail account…

[2016-04-01 11:21] rmoriz opened #136 "Debian + Ubuntu are now systemd-based"
please ship the .deb with proper systemd unit files instead of using the sysv-legacy which makes it hard to be used by other units.

[2016-04-04 15:00] #27 closed

[2016-04-07 05:04] jotadepicas commented on #109
@leonsodhi I've just set it up on a raspberry pi B 3.18.9+ armv6l Raspbian wheezy and I can confirm it works ok. Thanks!

[2016-04-08 02:09] leonsodhi commented on #109
Thanks for confirming, @jotadepicas. Did you use the `GOARM=5` binary, the other one, or maybe you built something yourself?

[2016-04-12 01:35] thegranddesign commented on #84
I really wish this had been fixed.  I just attempted to debug this for over an hour before searching for "connection refused" (which I only saw because I `strace`d it) and found this issue.

Definitely not something that is intuitive.  The general rules to only use integers when you're doing math on them.  Otherwise it shouldn't matter.  Or you should cast it when you need to do something number-y

[2016-04-14 05:47] thiagofigueiro opened #139 "For new log files the first line is skipped"
Steps to reproduce:

1. Add a file entry with wildcards to your monitoring (e.g. `  - /home/user/app/log/*.log`)
2. Restart remote_syslog
3. Generate some entries (`for i in {1..3}; do echo asdasdasd$i >> /home/user/app/log/asd.log; done`)
4. Follow events in papertrail web UI

Expected results: see asdasdasd1, asdasdasd2 and asdasdasd3 in web UI
Actual result: see asdasdasd2 and asdasdasd3 in web

[2016-04-14 13:22] troy commented on #139
Here's what's causing this and a workaround: https://github.com/papertrail/remote_syslog2#detecting-new-files

[2016-04-14 13:22] #139 closed

[2016-04-15 18:20] waits commented on #45
I see this is quite old, but it's causing problems for me as well. I'm willing to work on it if you guys still want this fixed.

[2016-04-20 22:42] nextmat opened #141 "TLS setting in config file is ignored"
With a config file like:

[code]

Running with just the config file:
[code]

But `--tls` command-line option is respected:
[code]

[2016-04-20 23:22] leonsodhi commented on #66
Continued in #51

[2016-04-20 23:22] #66 closed

[2016-04-21 19:03] leonsodhi commented on #141
@nextmat I think this might be the ruby version of remote_syslog as I'm seeing slightly different output here:
[code]
`protocol: tls` was introduced in r_s2, so what you're seeing makes sense.

To confirm, what's the output from running `file remote_syslog`?

[2016-04-21 20:48] nextmat commented on #141
Hmm, you're right. Not sure how I ended up with the ruby version as I installed it clean following the instructions from the site in December. May have to backtrack and see if there is a linking issue somewhere.

[2016-04-21 20:50] #141 closed

[2016-04-25 19:06] librato-peter opened #142 "The timestamp and timezone are different for some kinds of log lines"
[code]

[2016-05-05 15:50] traviscollins commented on #133
Probably using the wrong RPM. Use x64 instead the i386 RPM.

[2016-05-10 01:05] leonsodhi opened #145 "systemd init script fails on boot on CentOS 7"
[code]

Works fine if started after the system is up and running.

[2016-05-22 15:34] stuartford opened #147 "Does not start in the background"
Starts fine with -D and logs events to target successfully, but if I try to start it from /etc/init.d or even just without -D it just quits without doing anything. Tried turning on debugging log but the log file (although created) is empty.

Ubuntu 14.0.4 LTS.

[2016-05-22 15:50] troy commented on #147
First thought would be a local security policy, like SELinux, but give this a whirl:
http://help.papertrailapp.com/kb/configuration/troubleshooting-remote-syslog-reachability/#test-strace

See what strace says. Something is preventing it from daemonizing.

This seems like an environment-specific question rather than a bug, so I'd encourage continuing this with Papertrail support (support at papert

[2016-05-22 15:56] stuartford commented on #147
I'll give them a whirl, thank you. If they provide me with something that fixes it I'll post back here.

[2016-05-26 09:04] zhedar commented on #133
@traviscollins You're right, using `remote_syslog_linux_amd64.tar.gz` works as intended, while `remote_syslog_linux_i386.tar.gz` doesn't. Probably took the wrong binary by accident, as the `amd` in the file name didn't look familiar.

[2016-05-26 15:42] copiousfreetime opened #148 "0.18 beta 1 i386 binary fails to execute"
Freshdownload from releases o v0.18 beta 1

[code]

[2016-05-26 15:45] ahoward commented on #148
also seeing this.

[2016-05-26 22:01] johlym commented on #148
Hey @copiousfreetime and @ahoward thanks for the heads up. I'll take a look.

[2016-05-27 23:25] johlym commented on #147
It looks like this was the result of a bad pid file that needed expunging.

[2016-05-27 23:25] #147 closed

[2016-05-27 23:27] johlym commented on #145
Has rsyslog.service started at this point?

[2016-05-28 12:02] grobmeier opened #150 "EB docs"
Hi,

is this line correct?
https://github.com/papertrail/remote_syslog2/blob/master/examples/remote_syslog.ebextensions.config#L5

It says I need to configure an app name, but there is no variable to replace.

[2016-05-31 21:20] johlym commented on #148
Hi @ahoward @copiousfreetime:

Are you guys running this on a 64-bit system? If so, do you have the 32-bit C libraries installed?

[2016-05-31 22:15] johlym commented on #142
Took a look at this.

The first message's timestamp is generated from [the default go logging library](https://golang.org/src/log/log.go) by way of [`hpcloud/tail`](https://github.com/hpcloud/tail/blob/fff2f2d9e03958ee916ed469d7983be66aa4eb07/util/util.go#L17) which uses forward slashes, while the second line, generated by us via [`howbazzar/loggo`](https://github.com/howbazaar/loggo/blob/d2fb7690

[2016-05-31 22:23] johlym commented on #142
@collinvandyck, you're a Go expert. Thoughts?

[2016-05-31 22:33] collinvandyck commented on #142
one's proficiency with golang probably has little to do with this. it is seemingly just a generic issue with a 3rd party lib not doing what you want.  probably just fork it and modify and keep up with upstream changes? sorry, this sounds really annoying to deal with. bonus points for submitting a PR to the lib and getting it merged in etc.

[2016-05-31 23:46] johlym commented on #150
Good catch. The app name is set [here](https://github.com/papertrail/remote_syslog2/blob/master/examples/remote_syslog.ebextensions.config#L34) now. Your `App Name` is not your `AWSEBEnvironmentName`.

[2016-06-01 00:01] #133 closed

[2016-06-01 18:38] johlym commented on #55
@troy Want to get your thoughts on this. We could either add the other destinations to the `if` statement logic to include our other destinations or pull the whole thing and rely on the OS for the intermediates.

[2016-06-01 18:48] johlym commented on #109
I'm going to think about testing this in 0.18b2, maybe b3. I don't really have any devices to test this on so I don't know if it'll make it to the GM.

[2016-06-01 18:48] johlym commented on #109
Will add it to the 0.18b2 milestone for now.

[2016-06-01 18:51] johlym commented on #108
Hmm. An active refusal is a different behavior than just not answering `SYN` packets. The latter should, by the TCP standard, trigger a retry whereas a blatant `no, I will not allow connections` is pretty obvious from a TCP perspective that a connection isn't going to happen and thus not much point in retrying, no?

[2016-06-01 19:06] johlym commented on #11
This would require logic to determine if `/var/log/test/subtest` is a file with no extension or a directory. Not common but some log files don't have extensions.

[2016-06-01 19:41] leonsodhi commented on #11
There was some work done to solve this in the linked "Issue 11" PR. I think [this](https://github.com/papertrail/remote_syslog2/blob/dfb6b3e028ed6dde07f11de9c907a20619abf672/glob.go#L39) would do it. That said, we can't risk merging it as so much other stuff has changed that we really need to add tests for all the basic functionality to make sure nothing breaks.

[2016-06-02 04:23] troy commented on #108
I think even the explicit reply case is debatable. If the server sends back an ICMP port unreachable indicating that the host (well, destination IP) was reached but nothing is bound on the port, I could see an argument against retrying. Most other explicit responses - ICMP host unreachable, network unreachable, administratively prohibited, etc - could easily be transient errors, though, and even p

[2016-06-02 04:26] troy commented on #55
This special-case is due to http://blog.papertrailapp.com/logs-papertrailapp-com-tls-ssl-cert-will-change-january-27/ ("Why is this necessary?"), and actually is specific to only the logs.papertrailapp.com hostname, not other destination hostnames. It's an artifact of a mistake I made about 6 years ago :)

However, after http://blog.papertrailapp.com/logs-papertrailapp-com-tls-ssl-cert-will-change

[2016-06-07 23:22] johlym commented on #55
+1 for removal. @troy and @eric if there are no reservations, for my next act, I'll make the code vanish.

[2016-06-07 23:24] mheffner opened #151 "Doesn't follow log after log rotation"
When remote_syslog2 is following the log files output by a Dropwizard application, it fails to continue following the main log file after it is rotating by Dropwizard's log rotation schedule. Restarting remote_syslog2 will fix the problem and will publish new log files.

cc @benodom

[2016-06-08 05:54] troy commented on #55
I'm all for removing it.

[2016-06-08 23:40] johlym commented on #109
Added ARM builds to 0.18b1 release. These are 100% UNTESTED at this time. YMMV.

[2016-06-10 13:13] MonicaG commented on #109
Hi,

I am getting the following error when I install the "remote-syslog2_0.18_arm.deb" package:

command: sudo dpkg -i remote-syslog2_0.18_arm.deb

error:
dpkg: error processing archive remote-syslog2_0.18_arm.deb (--install):
 package architecture (arm) does not match system (armhf)
Errors were encountered while processing:
 remote-syslog2_0.18_arm.deb

I am using a raspberry pi 3.

[2016-06-10 13:32] MonicaG commented on #109
Hi,

I tried the [remote_syslog_linux_arm.tar.gz](https://github.com/papertrail/remote_syslog2/releases/download/v0.18-beta1/remote_syslog_linux_arm.tar.gz) and it works!  I was able to set it up and see log messages appearing on my dashboard.

Thank you @johlym! 😄

[2016-06-10 17:31] johlym commented on #109
Hi @MonicaG!

That's great news! The `.deb` and `.rpm` packages themselves are still pretty flaky so I'm honestly not surprised that it didn't work. I'm super happy to see the ARM binary is actually functional, though :)

I'm going to leave this open until I can test and verify on my own, especially those packages.

Thanks, again! Have a great weekend.

[2016-06-10 17:33] johlym commented on #109
@MonicaG If you're up for it, would you be interested in attempting to add `arm` architecture support?

[code]

And retry the `dpkg` install?

[2016-06-10 23:33] MonicaG commented on #109
Hi @johlym

I followed the instructions you gave above on my raspberry pi and the install worked!  I did a quick test and verified that log messages were showing up on the papertrail dashboard.

Thank you! 😄

[2016-06-14 17:22] #148 closed

[2016-06-14 17:23] johlym commented on #151
Hi @mheffner how does Dropwizard rotate logs?

[2016-06-14 18:37] ericsnowcurrently opened #153 "Full RFC 5424 Support"
Currently the Packet type (in syslog/packet.go) is missing the following:

* Proc ID
* Msg ID
* Structured Data

Do you have any objections to Packet supporting those?  If not, I'd be willing to provide a PR.

It would also be nice if the field names matched the field names in the RFC.  Would you object to changing those ("Tag" -> "AppName", "Time" -> "Timestamp")?

[2016-06-14 21:29] johlym commented on #109
@MonicaG Thanks for that :) I really appreciate it. I'll have an RPI next week so I would have discovered this eventually.

Which OS on your RPI 3 are you using?

[2016-06-14 22:02] #150 closed

[2016-06-14 22:13] johlym commented on #120
@leon How big of an issue is this, still?

[2016-06-14 22:16] johlym commented on #93
Putting my $0.02 here. Dropping compile compatibility that low could introduce performance issues for remote_syslog2 on OS X. I can't remember where I read it but there were some notable perf optimization additions to the complier and linkers for 10.8 that are not backwards compatible. (source, Apple Developer membership required: https://devforums.apple.com/message/773142)

[2016-06-14 22:21] johlym commented on #88
Going through old issues. Is this still a thing?

[2016-06-14 22:29] johlym commented on #111
It seems like this is a 'problem' because `init.d` doesn't assume the status. While in our case, it's pretty black and white (running or not running) but other processes could have more complex logic or states they can get into; expecting init.d to figure this on on its own doesn't seem reasonable. I'm for explicitly setting the `RETVAL` for the two states.

[2016-06-14 22:55] leonsodhi commented on #120
Not sure. Only had one confirmed case of it although I have heard of people accidentally logging email attachments in the past. I'd be inclined to consider this low priority and leave the issue as-is. No strong opinion, though.

[2016-06-14 22:58] johlym commented on #93
@troy would love your $0.02 here, too. It's also worth noting that 10.7 isn't going to get any new updates (security or otherwise; the last I think was 2012) and I think even 10.8 is out to pasture, too. Is the user base large enough to warrant a separate OS X build?

[2016-06-14 23:05] leonsodhi commented on #88
I have no experience with this kind of thing, but I'd guess it is and that we do want to sign our packages so that folks know they came from PT.

[2016-06-14 23:07] johlym commented on #120
For the sake of completeness, I'd argue either doing something about it or
closing it #wontfix. That's just how I roll, though.

[2016-06-14 23:07] johlym commented on #88
Sure. I'll look into making this happen.

On Tue, Jun 14, 2016 at 4:05 PM, Leon Sodhi <notifications@github.com>
wrote:

[2016-06-15 13:55] MonicaG commented on #109
Hi @johlym,

I am using the [raspbian - jessie](https://www.raspberrypi.org/downloads/raspbian/) os, which I installed with NOOBS.

One side effect I noticed from using the ```dpkg --add-architecture arm``` command was I received errors when updating my pi.  When I did ```sudo apt-get update``` I got errors stating:

I was able to get around this by specifying ```[ arch=armhf ]``` in my /etc/apt/s

[2016-06-15 14:38] troy commented on #93
* OS X build of any kind: yes
* minimum supported version: 10.7 is so prehistoric that no one is using it for something close to production. 10.9 is still actively used. I'm indifferent about 10.8, but if we don't know of any specific optimizations which are only possible by targeting 10.9+, I lean towards continuing to support 10.8.

IMO, our default should be the broadest possible support unless

[2016-06-15 17:04] johlym commented on #109
@MonicaG thanks for making me aware of the hidden danger of `--add-architecture arm`. :)

I _think_ it's possible but honestly I can't say for sure, yet, as I'm writing this before I've tried. I'll be able to find out in the next week or so. Stay tuned.

[2016-06-15 17:29] johlym commented on #93
I don't mind creating a separate build for 10.7. I can just label it as such. I'm sure there are still people that use 10.7 but I don't want to potentially bring down the rest of the group with what would be for them a slower binary.

[2016-06-15 17:49] johlym commented on #153
Hi @ericsnowcurrently

To your first question: my only objection is that Papertrail won't do anything with these data points so including them in remote_syslog2, in my mind, wouldn't have any benefit because:

* Papertrail doesn't do anything with these fields, so they would be dropped, anyway.
* These three data points can be included in the message and as such, be searchable and formatted how yo

[2016-06-15 18:55] troy commented on #153
I don't have a strong opinion about the possible new fields, as long as they don't affect existing consumers.

Regarding the field names, "tag" is used more commonly than "appname" for the reason @johlym gave, and "time" is clear enough, so I don't see a benefit from changing them.

[2016-06-15 22:55] johlym opened #155 "Packaging > init.d script falls over on start if pid file is already present"
From Papertrail chat:

[2016-06-15 23:58] johlym commented on #155
Related to #128

[2016-06-15 23:58] johlym commented on #155
Related to #95

[2016-06-16 00:10] ericsnowcurrently commented on #153
I'm looking at using the remote_syslog2/syslog package in my own project, independent of Papertrail.  For my use case those fields are required.  If they are not set on Packet then the resulting serialization should be exactly the same.

[2016-06-16 16:37] mheffner commented on #151
@johlym So I believe it renames to a backup file with date extension, then creates a new file. For example:

[code]

In this scenario we are trying to watch `boatwrite.log`.

[2016-06-16 17:39] johlym commented on #151
@mheffner Ahh ok. That makes sense and explains the behavior. remote_syslog2 relies on the filesystem giving it the inode to watch. During this log rotation, the filesystem doesn't tell remote_syslog2 about the new inode to watch (from the `creates a new file` step), logs will stop flowing.

I see two things to try:
1) rotate the log files in a copy-truncate fashion so the file being actively writ

[2016-06-16 18:19] johlym opened #156 "FreeBSD: ELF binary type "0" not known"
From Papertrail Support email:

I have followed your instructions below
http://help.papertrailapp.com/kb/configuration/configuring-centralized-logging-from-text-log-files-in-unix/

When I start "remote_syslog" I receive the following error message.

ELF binary type "0" not known.
/usr/local/bin/remote_syslog: 1: Syntax error: end of file unexpected
(expecting ")")
/usr/local/bin/remote_syslog: 1:

[2016-06-16 18:24] johlym commented on #156
Need to add `freebsd` and or `openbsd` to https://github.com/papertrail/remote_syslog2/blob/master/Makefile#L11-L12

[2016-06-16 19:01] pcn commented on #151
@johlym I can't find a copytruncate-like option for logback.  I guess we could use `--poll`, but it seems like given how much cleaner and less resource-intensive it is to rename() a file, then open() a new one in logging code (vs copying a file and then truncating an open file), could remote_syslog2 use inotify to watch the set of directories where logs are created and react to file changes on tho

[2016-06-16 19:27] johlym commented on #151
@pcn Definitely. I talked with @eric about this a bit ago and he pointed me to tail's ability to follow by name.

[2016-06-21 14:07] piellick opened #158 "How TLS option work ?"
Hy everyone,
i try to using tls option with graylog, there is option for :

- login / password auth ?
- certificate auth ?

regards

[2016-06-21 14:40] troy commented on #158
The `--tls` option (more in [README](https://github.com/papertrail/remote_syslog2)) uses certificate auth and validates the cert provided by the server against a [large set of root CAs](https://github.com/papertrail/remote_syslog2/blob/master/papertrail/root_ca.go), which is the same set used by common browsers.

[2016-06-21 14:40] #158 closed

[2016-06-21 23:15] johlym commented on #153
hey @ericsnowcurrently, are you looking to just use the `remote_syslog2/syslog` library or the whole app? What's the end goal? I might be misinterpreting your request; extra detail would be much appreciated :)

[2016-06-22 00:51] ericsnowcurrently commented on #153
Don't sweat it.  I ended up rolling my own. :)

[2016-06-22 00:51] #153 closed

[2016-06-27 23:43] johlym commented on #109
I'm able to build with both ARM and ARMHF as platforms. I'm not entirely sure if there's a difference in the build process or the codebase. I know non-HF platforms lack a hardware floating point instructions (hence the lack of HF) but what that means for the binary, I can only guess. Modern non-HF boards that are reasonable to use seem to be harder to get my hands on.

[2016-06-29 02:31] johlym commented on #109
Fixed in #160

[2016-06-29 02:31] #109 closed

[2016-06-29 13:40] bartdag opened #161 "missing --version flag"
Unless I missed something, it is not possible to determine the binary version on the command line, e.g., by running `remote_syslog --version`.

This would be very helpful when automating the installation of remote_syslog2 with configuration management software such as ansible.

[2016-06-29 21:06] mterron opened #162 "Static build"
Could you please make available a statically linked version of remote_syslog2. It'll be very useful in non glibc environments.

[2016-06-29 22:22] johlym commented on #161
Very good point, @bartdag. We had it in the past but it came out before I was ever around so I don't really know why. I'll look at getting it back in.

[2016-06-29 22:24] johlym commented on #162
Hi @mterron Thanks for the recommendation. What environment(s) are you running remote_syslog2 where glibc isn't a thing?

[2016-06-30 00:12] mterron commented on #162
Alpine based vms
On 30 Jun 2016 10:24 am, "Johnathan Lyman" <notifications@github.com> wrote:

[2016-06-30 00:27] johlym commented on #162
Ahh ok. That makes sense. @mterron which version of remote_syslog2 are you trying to use?

[2016-06-30 00:29] mterron commented on #162
Latest I guess. I haven't been able to try it due to the lack of glibc
On 30 Jun 2016 12:27 pm, "Johnathan Lyman" <notifications@github.com> wrote:

Ahh ok. That makes sense. @mterron <https://github.com/mterron> which
version of remote_syslog2 are you trying to use?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/papertrail

[2016-06-30 00:42] johlym commented on #162
No worries. This should be fixed with the next release. Though the target in #160 was supporting darwin and arm compilation, doing so made me change how I compile the binaries slightly to statically compile the golang code for linux:

[code]

The next build should be out sometime in the next week if I play my cards right.

[2016-06-30 00:42] #162 closed

[2016-07-03 17:08] mnapoli commented on #147
I'm facing the same issue (Ubuntu 16.04), with `-D` it runs fine but not in background. What does this means and how can I fix it:

Thanks a bunch! (I've set up remote_syslog successfully many times on many other servers, first time it doesn't work for me)

[2016-07-03 17:11] MonicaG commented on #109
@johlym - Cool! Thank you 😄

[2016-07-04 23:33] drnic commented on #4
This issue went away for me when updating to v0.18-beta1. Keeping an eye out for recurrences.

[2016-07-05 19:23] johlym commented on #147
Excellent, @mnapoli! Glad to hear it. On occasion, this happens to me with other apps, too; seemingly more so on 16.04 over previous versions.

[2016-07-06 11:57] mnapoli commented on #147
@johlym I was asking what the sentence meant because I didn't understand what I was supposed to do to fix the problem ;) (I can see now that my wording wasn't very clear). But now it works, I don't really know why so…

[2016-07-06 18:51] johlym commented on #147
Oof, my bad @mnapoli. I definitely misread that.

If the pid file is corrupt or doesn't belong to a particular instance of remote_syslog2, the process won't be able to get rid of it on exit which leads it to not being able to start up again. Clearing the pid file is all that's typically required to clear this block.

[2016-07-06 18:52] mnapoli commented on #147
Ohh OK that's clearer now thanks!

[2016-07-11 14:12] jasondcamp opened #164 "Include RPM spec in github"
Hello,
  Unless I'm missing it, I can't seem to find the rpm spec that you use to build your rpm packages. Is it possible to include that in the github repo? I know I can create one, but I'd prefer to use the same specs that you guys are building the official packages with if possible.  Might as well include any deb packaging files too.

Thanks!
Jason

[2016-07-11 17:19] Jaciones opened #165 "Facility from ConfigFile seems to be missing"
I am trying to set the facility from a config file(log_files.yml) and it seems like it's ignored. When looking at the code, it seems like the ConfigFile (https://github.com/papertrail/remote_syslog2/blob/3284094ffe60217df568598d217f094a1b472664/config_manager.go) doesn't even contain the facility.

Is the only way to set the facility is as a command line parameter on the init.d script? That seems

[2016-07-18 15:24] dereklucas opened #166 "TLS error "unknown authority""
I'm having an issue where remote_syslog is working great without TLS, but if I run `remote_syslog -D -c log_files.yml --tls` it says:

[code]

Is there anything I can check to see why this would be happening?

[2016-07-18 16:02] johlym commented on #166
Hi @dereklucas interesting. We saw this a with those operating older remote_syslog2 versions that used the older Golang TLS library. This older library didn't support SHA2. I'm definitely seeing failing SSL handshakes on our end so here's a few things to check:

- Make sure you're updated to at least 0.17, preferably 0.18b1. We swapped out a couple libraries to bump perf and stability. I expect to

[2016-07-18 16:06] dereklucas commented on #166
Just installed it today based on this: https://gist.github.com/stanlemon/40dfb397e37f85324e25 so it looks like my blind copy and paste had me install 0.13, not the latest. Whoops! I bet that's the issue. I'll let you know if it's not resolved.

[2016-07-18 16:12] dereklucas commented on #166
Updating fixed it. 🎉 Thanks!

[2016-07-18 16:12] #166 closed

[2016-07-18 16:32] johlym commented on #166
@dereklucas heck yeah! 💃

[2016-07-20 21:56] mookie5dc commented on #133
do you know if the remote_syslog_linux_amd64.tar.gz will work with the older linux version? (2015.09)

[2016-07-20 22:57] johlym commented on #133
Hi Dale,

I don’t see why not. I don’t have any reports of it not working. the rpm and tar files are the same binary (if your arch matches), just different methods of installing.

[2016-07-28 14:53] CyborgMaster opened #167 "Missing Log Entries"
Any time multiple lines are appended to the log close together, papertrail only gets some of them.  If I can't figure this out, I'm going to have to consider moving to another service.

I'm using the recomended set up for elastic beanstalk using the .ebextensions file here: https://github.com/papertrail/remote_syslog2/blob/master/examples/remote_syslog.ebextensions.config, and my version is set to

[2016-07-29 20:57] johlym commented on #164
Hi @jasondcamp. We don't have explicit spec files. We call [fpm](https://github.com/jordansissel/fpm) in the [Makefile](https://github.com/papertrail/remote_syslog2/blob/master/Makefile#L107-L139) and feed it bits from [`packaging/Makefile.packaging`](https://github.com/papertrail/remote_syslog2/blob/master/packaging/Makefile.packaging).

So you're not missing anything.

[2016-07-29 20:57] #164 closed

[2016-07-29 21:00] johlym commented on #165
Hi @Jaciones. With how remote_syslog2 works and the purpose it serves (piping the contents of log files to Papertrail), setting the facility doesn't really add any value so far as I can tell. Each log file is considered a separate program and the host it runs is the sender, but that's it.

It's entirely possible I'm missing something you're seeing or coming up with so if that's the case, let me kn

[2016-07-29 21:00] #165 closed

[2016-09-06 23:45] konradko opened #168 "Does not work on Pi Zero"
https://github.com/papertrail/remote_syslog2/releases/download/v0.18/remote-syslog2_0.18_armhf.deb does not work with Pi Zero - it installs fine, but errors with ``Illegal instruction`` when trying to run.

[2016-09-26 19:20] johlym opened #172 "Parse Environment Variables located inside log_files.yml"
Submitting this on behalf of a user. When deploying remote_syslog2 in an automated fashion, it helps to be able to use environment variables to automatically point remote_syslog2 in the right direction toward the log files of the application.

Example

[code]

Note: the tags are ERB but we could possibly come up with a standard implementation of this.

[2016-09-26 19:46] snorecone commented on #172
I think this would typically be handled by config management, like chef, puppet, etc., and would be outside the responsibility of remote_syslog2.

That being said, it's possible to pass in a list of log files on the command line as additional arguments, so that env vars would be expanded, like:

[code]

[2016-09-26 22:18] johlym commented on #172
That makes sense, though would get a bit unwieldy beyond a handful of log files. 

Johnathan

On Mon, Sep 26, 2016 at 12:46 PM Mark Martin

<
mailto:Mark Martin <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

I think this would typically be handled by config management, like chef, puppet, etc., and would be outside the responsibility of remote_syslog2.

[2016-09-27 15:50] sethherr commented on #172
I took the `log_files.yml` from [this template](https://gist.github.com/ckraybill/b82f0595251b835eadb6), which is referenced by [Papertrail's Cloud 66 instruction](http://help.papertrailapp.com/kb/hosting-services/cloud-66/).

While parsing of ENV variables in `log_files.yml` would be cool, there's an easier solution - if that instruction page explained that you need to replace the variables manua

[2016-10-17 15:21] t0m opened #176 "unrecoverable i/o timeout (remote_syslog_0.17)"
Hi, two of our machines stopped reporting to papertrail on the 15th around noon EST. Both were sending logs to logs3.papertrailapp.com.  The strace from one of the remote_syslog2 processes showed the following error repeating every ten seconds:

[code]

The process on the other machine was stuck on `read(4,` and the gdb backtrace was:

[code]

Logging resumed just fine after we restarted the proce

[2016-10-17 16:57] snorecone commented on #176
@t0m this is very helpful, thank you. In the `read` backtrace, I don't suppose you know what fd=27 was or whether or not it was closed or truncated? This one seems related to an issue that I'm just beginning to explore now related to log rotation.

Regarding the `write tcp 173.247.107.220:17159` error, I'm sure it's something that should be recovered from.

[2016-10-17 17:14] t0m commented on #176
@snorecone I didn't think to check it out when I was on the machine but just in case, for the currently running remote_syslog2 process, fds 23 - 36 are all anon_inodes according to lsof

[code]

None of the log files were truncated, they all have data from before and after the issue occurred. I'm not sure whether the fd was closed though.

[2016-10-20 09:32] FlackMonkey commented on #102
It would be nice to print existing config and state along with sending test message.

[2016-10-23 17:42] troy opened #182 "Default to the same hostname as rsyslog (or try to)"
1. Describe the behavior they both use. Which one is currently choosing FQDN on most distros, and which one is choosing the local hostname?
2. Try to standardize on one behavior (almost certainly rsyslog's) so that logs from both rsyslog and remote_syslog2 default to the same hostname.

[2016-10-25 05:20] azell commented on #176
I have seen similar issues in logspout (https://github.com/gliderlabs/logspout/issues/108 and https://github.com/gliderlabs/logspout/issues/215) where server rotation (e.g. the DNS entry for the syslog server is set to a new IP with the previous IP shut down) is only fixed by killing the logspout process.

[2016-11-01 21:39] Bowbaq opened #185 "Improperly tagged log file due to race condition"
Given a configuration like this:
[code]

Given that `/path/to/log/specific.log` does not exist on startup, the following race condition can happen:
![race condition](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgVGFnZ2luZyByYWNlIGNvbmRpdGlvbgoKcmVtb3RlX3N5c2xvZy0-K2dsb2JGaWxlczogQ2hlY2sgZm9yIG5ldyBmaWxlcwoAFgktPmZpbAAzBXRlbTogRXhwYW5kcyAvcGF0aC90by9sb2cvc3BlY2lmaWMubG9nCgAkCy0-AFsLT

[2016-11-01 22:08] sethherr opened #186 "rename remote_syslog_darwin_amd64"
Seems unnecessarily complex. I didn't know which package was for mac and had to ask @snorecone

This just means macOS, right? Are there other things darwin_amd64 would be on?

[2016-11-01 22:43] johlym commented on #186
@sethherr `darwin` is the name of the OS X unix-y, freebsd-y kernel. If you run `uname -a` on OS X (or macOS, whatever) you'll get:

[code]

One could in theory build for `darwin_x86` though I don't believe it's supported much, anymore, if at all.

[2016-11-01 22:48] sethherr commented on #186
Apparently this is a convention in more than just the go world, docker does it too -

<img width="784" alt="screen shot 2016-11-01 at 3 45 11 pm" src="https://cloud.githubusercontent.com/assets/1235441/19910521/ae6d8676-a04a-11e6-8541-616dd4500a36.png">

[2016-11-02 00:21] #186 closed

[2016-11-05 16:26] snorecone commented on #161
Fixed in #179

[2016-11-05 16:26] #161 closed

[2016-11-05 16:34] snorecone commented on #185
Thanks for this @Bowbaq !

I think the globs should be resolved and de-duplicated on startup. #11 is the next issue I had planned to address, which would make the glob behavior more robust. I think solving this issue should be part of that. If you feel so inclined as to give it a shot, that would be great!

[2016-11-05 16:46] snorecone commented on #84
Fixed in #170

[2016-11-05 16:46] #84 closed

[2016-11-05 16:58] #4 closed

[2016-11-08 00:14] Bowbaq commented on #185
If globs are only resolved on startup, how does that work when a file gets created at a matching location after the daemon starts? It seems like it would get ignored, which reduces the usefulness of globs quite drastically.

[2016-11-08 00:21] johlym commented on #185
@snorecone polling should take care of that ^, yeah?

[2016-11-08 00:28] snorecone commented on #185
Sorry, I wasn't very clear. I mean to say the globs should be resolved and de-duplicated on startup and every run of the file poller. If an explicit path is given, that tag should take precedence over any other tag given for a glob pattern.

[2016-11-08 00:57] Bowbaq commented on #185
The problem I'm running into is between two glob patterns though. One of them is more "specific" than the other, but I think that'd be hard to determine programmatically.

One possible solution is to say that globs that appear earlier in the config file have precedence over globs appearing later in the config file.

Another problem is that even if the tag was properly resolved on the next poll, yo

[2016-11-08 15:17] chmac commented on #43
I was just kicked in the teeth by this same error. We had `protocol: UDP` which I eventually realised from the strace logs is invalid. But I didn't get any error from `remote_syslog` itself. I'd suggest that `remote_syslog` fail to start if the config file is invalid, otherwise it's a real brain bender to track down.

[2016-11-19 00:17] johlym commented on #155
Adding to this that non-clean stops of remote_syslog as a service can leave the pid file in place and prevent remote_syslog from auto-starting on system boot.

[2016-11-19 23:13] emwalker commented on #45
+1

[2016-11-23 17:52] snorecone commented on #9
Closing this since I've confirmed that this is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 17:52] #9 closed

[2016-11-23 17:56] snorecone commented on #23
Closing this since `remote_syslog2` will print usage with invalid flags, and print a warning in the log if a file like `restart` doesn't exist. Confirmed in the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 17:56] #23 closed

[2016-11-23 18:13] snorecone commented on #24
Closing since this was previously fixed, and I've confirmed that it's working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 18:13] #24 closed

[2016-11-23 18:15] snorecone commented on #32
Closing this since I've confirmed that this is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 18:15] #32 closed

[2016-11-23 18:28] snorecone commented on #43
I'm closing this since invalid port strings such as "PORT" will cause `remote_syslog` to cease startup as of [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19):

[code]

If there are other config options that should be validated in a special way, I'd open an issue for each specific option.

[2016-11-23 18:28] #43 closed

[2016-11-23 18:30] snorecone commented on #45
I'm closing this since I've confirmed that this is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19).

[2016-11-23 18:30] #45 closed

[2016-11-23 18:41] snorecone commented on #50
This _should_ be working based on [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19), as `remote_syslog2` will only read the next data when it can send to a remote server. When reconnecting, it will pick up where it left off.

If there's a case that comes up where this doesn't happen, we'd need to reopen with repro steps.

[2016-11-23 18:41] #50 closed

[2016-11-23 18:44] snorecone commented on #70
Closing this since I've confirmed that this is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 18:44] #70 closed

[2016-11-23 18:46] snorecone commented on #71
Closing this since I've confirmed that this was fixed previously and is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 18:46] #71 closed

[2016-11-23 18:56] snorecone commented on #85
It's not a real panic, but is the default behavior for a `go` binary to dump a stacktrace when it receives a `SIGQUIT`. We don't currently catch this signal and override that behavior since a reason to do so hasn't surfaced.

I'll leave this open if others have concerns or are curious about the behavior.

[2016-11-23 19:05] snorecone commented on #108
Closing this since I've confirmed `tcp` connection retry is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

[2016-11-23 19:05] #108 closed

[2016-11-23 19:14] snorecone commented on #120
I confirmed that it's stalling on the latest version, so I can take a look.

[2016-11-23 19:17] snorecone commented on #135
I'd like to add to this: a `homebrew` package as well.

[2016-11-23 19:19] snorecone commented on #142
Closing this since I've confirmed that this is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

`hpcloud/tail` was logging directly in their package, but I've removed it.

[2016-11-23 19:19] #142 closed

[2016-11-23 19:23] snorecone commented on #151
Closing this since I've confirmed that this is working on the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)

Both `logback`-style and `copytruncate`-style are supported.

[2016-11-23 19:23] #151 closed

[2016-11-23 19:25] snorecone commented on #167
Hi @CyborgMaster I'm late to the party here, but if you're still using `remote_syslog` are you able to reproduce this issue with the latest version [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19)?

[2016-11-23 19:28] snorecone commented on #176
Hi @t0m I believe this should be fixed with the latest version: [v0.19](https://github.com/papertrail/remote_syslog2/releases/tag/v0.19). Can you try it out?

[2016-11-23 19:33] snorecone commented on #185
@Bowbaq if you could define what the specificity would be for file globs when determining the tag, this would be totally fixable without the problem of:

When I say:

I mean that instead of iterating through the file globs once, it should be done twice: the first time to de-duplicate and determine tags, and the second time to start watching.

[2016-11-24 08:44] chmac opened #193 "Display error if protocol in config is invalid"
See #43

I suggest we refuse to start with an error if the config file contains an invalid protocol value.

[2016-11-30 20:03] johlym commented on #168
Hi @konradko how does the most recent version work for you?

[2016-12-13 12:54] shanab opened #194 "Delay sending to Papertrail with a configurable window"
### Setup

Whenever a new server starts, the following happens in order:

* Register itself automatically to Papertrail via [Register HTTP API](http://help.papertrailapp.com/kb/how-it-works/http-api/#register).
* Start remote_syslog2 init script.
* Start a service that produces log events into log files.

### Problem

Papertrail starts displaying events about 1-2 minutes after the service starts.

[2016-12-22 03:18] kraigh commented on #168
I'm having the same issue on 0.19. Here's my script that is doing the install:

`# Install remote syslog from papertrail
wget https://github.com/papertrail/remote_syslog2/releases/download/v0.19/remote-syslog2_0.19_armhf.deb
sudo dpkg -i remote-syslog2_0.19_armhf.deb
sudo rm remote-syslog2_0.19_armhf.deb
sudo cp /home/pi/photo-frame-app/config/remote_syslog.init.d /etc/init.d/remote_syslog
# sudo

[2016-12-23 11:06] prometherion opened #195 "remote_syslog on Alpine works only with --poll argument"
I noticed strange behaviour using remote_syslog on Alpine Linux distributions: the only way to tail files correctly is using the argument --poll on tailing log files. I hope it could be useful to others.

[2016-12-23 14:47] troy commented on #195
That's probably a byproduct of its decision to be as small as possible; [here's more](https://alpinelinux.org/about/). I've never heard of "musl libc" but its notify functionality probably works differently or was entirely removed. If you investigate this more and find the cause, feel free to reopen this.

[2016-12-23 14:47] #195 closed

[2017-01-16 23:29] arulprasad opened #196 "remote_syslog not able to send logs to destination on CentOS 5.4"
When I do a remote_syslog -D, I see

[code]

[2017-01-17 21:34] snorecone commented on #196
Hi, thanks for the report.

Can you give me the output of `remote_syslog -V` and `uname -a`? My intuition is that one or more syscalls that the binary needs are missing. You can also try an earlier release to see if it works without issue.

[2017-01-18 19:10] arulprasad commented on #196
[code]

Thanks for looking into it,  @snorecone.

[2017-02-08 09:53] shanab opened #198 "remote_syslog memory usage increasing consistently"
I just upgraded from v0.18 to v0.19, and I noticed that the memory usage of remote_syslog is increasing consistently with time.

The below graph shows it:
<img width="989" alt="screen shot 2017-02-08 at 10 39 02" src="https://cloud.githubusercontent.com/assets/1216585/22731717/e35240b8-edeb-11e6-8065-8f288e13587e.png">
The yellow line represents an instance with 0.5GB memory, and the blue line rep

[2017-03-16 08:13] t-oster commented on #3
This seems to be still not fixed in v0.20-beta1

[2017-03-16 20:59] acheraime commented on #196
I have the same issue what's the actual status of this case?

remote_syslog 0.20-beta1
Linux <host_name> 2.6.18-194.17.1.el5 #1 SMP Wed Sep 29 12:51:33 EDT 2010 i686 i686 i386 GNU/Linux

[2017-03-16 23:42] troy commented on #196
@acheraime it's pretty much what you see here :) It's being tracked, but is not fixed. If you have a fix, feel free to send a pull request, and if not, please subscribe to this issue to receive updates if and when it moves forward.

[2017-03-21 17:35] brian626 opened #201 "Elastic Beanstalk example doesn't support Rails application log file monitoring"
Hi,

First off - thanks for all the hard work that's gone into the integration documentation and examples! Really made it easy to get started with Papertrail.

I'd like to suggest one improvement to the Elastic Beanstalk example, however. As written, `examples/remote_syslog.ebextensions.config` uses a `container_command` to restart `remote_syslog`. However, `container_command` items are executed *

[2017-03-21 17:47] brian626 commented on #201
Sorry - forgot that I meant to test using `/var/app/support/logs/production.log` (which is a symlink to `/var/app/current/log/production.log`, with the exception that `/var/app/support/` persists between deploys) but that does not help.

[2017-05-23 02:06] geekpete commented on #54
Will close for now, I haven't the time to create an import export tool/helper but someone else might.

[2017-05-23 02:06] #54 closed

[2017-06-28 21:58] oviliz commented on #198
This is worrying. Is this project still alive?

[2017-06-28 23:31] troy commented on #198
Yep, it is. A good indicator of whether a project is still active or not is the commit history: https://github.com/papertrail/remote_syslog2/commits/master

If you see commits and/or merger pull requests in the last 6-12 months (or in this case, 10+ commits as recently as a few months ago), then the project is probably active.

[2017-07-04 17:24] krallin opened #203 "Is v0.20 "ready"?"
Looks like v0.20 has been in beta for a while. Are there any known blocking issues to releasing it?

Thanks!

[2017-07-13 09:46] fantyz commented on #198
While not stone dead, saying that it is alive while having a severe issue like this being left open and unanswered for an extend period of time might be stretching it a bit?

[2017-07-13 15:51] markdascher commented on #203
Good point. The main reason it’s not a release is that it was a minor fix for a pretty specific problem, and we’re working on a more thorough update to take its place. This has taken a bit longer than expected (obviously), but the past few weeks have resulted in significant progress.

You’re certainly free to use the beta as well, if you’re having any trouble with rotated log files. We haven’t hea

[2017-07-13 16:37] snorecone commented on #198
Hi @fantyz (and @oviliz) are you experiencing this issue? If so, do you have reproduction steps? Aside from the report here from @shanab we have had no other reports of this, so additional reports reproduction steps would be a helpful contribution.

Based on everything we know, this isn't a severe issue at all; it impacts very few users and may not even be present in the current version.

[2017-07-13 18:28] oviliz commented on #198
@snorecone The fact is that nobody turned back to @shanab at the time asking for further details.

[2017-07-13 19:13] krallin commented on #203
Great, thanks @markdascher!

As an aside, the main reason we're looking at v0.20 is because the earlier version never releases inotify instances (or eventfd for that matter) when a log file is deleted, so if you're monitoring a wildcard and you have logfiles coming in and being deleted later, you'll eventually end up wasting a ton of inotify resources, and run into `ENOSPC` for no good reason at a

[2017-07-13 19:14] #203 closed

[2017-08-07 15:19] markdascher commented on #198
@shanab We were never able to duplicate this sort of runaway memory usage, but the latest pre-release [v0.20-beta2](https://github.com/papertrail/remote_syslog2/releases/tag/v0.20-beta2) fixes a couple of goroutine leaks that could happen during log file rotation. (And v0.20-beta1 fixed some other file rotation issues that could've left old files open.) It would take quite a few rotated files to e

[2017-08-28 14:01] mccorkle opened #208 "kill -HUP to re-read config file?"
I know SIGHUP wasn't defined as 're-read your config file if you are a daemon', but that is the expected behavior from *nix services now-a-days.

Would it be reasonable to add SIGHUP signal processing to remote_syslog2?

[2017-08-29 08:59] TAiS46 commented on #201
Can you explain your solution for this problem? We have the same issues and could figure out how to do a workaround.

[2017-08-29 19:16] markdascher commented on #201
Confirmed with @TAiS46 that the latest release [v0.20-beta2](https://github.com/papertrail/remote_syslog2/releases/tag/v0.20-beta2) pre-release also solves this problem, by periodically checking for stale files.

[2017-09-22 15:14] jeffmacdonald opened #210 "remote_syslog appears to hang on FUTEX_WAIT on AWS AMI"
Hi.

I'm running remote_syslog2 on an AWS EB multi-container instance. The instance runs 2 copies of docker. Our apps log to stdout and files are saved to `/var/log/containers/ourapp-wsgi/*.log` and `/var/log/containers/ourapp-celery-workers*.log`

We find that after a few days, papertrail is no longer receiving our logs. Restarting remote_syslog2 on the app instances cause logs to start flowing a

[2017-09-27 16:27] markdascher commented on #210
If I'm understanding correctly, this looks like an issue with a rotated log file. Could you try out the latest beta, and see if it's fixed: [v0.20-beta2](https://github.com/papertrail/remote_syslog2/releases/tag/v0.20-beta2)

[2017-09-28 12:03] jeffmacdonald commented on #210
Hi, just acking that I've read this. I'm travelling but I look forward to giving this a try when I'm back home

[2017-10-10 14:34] jeffmacdonald commented on #210
I've deployed this and I'm still experiencing the same issues. I did some time co-relation

- We did a re-depoy of our app at 13:19, and `ps -o stime 4244` shows that the remote_syslog2 process started at 13:19
- The last logs on papertrail for this instance are at 13:19

However: this behaviour is not consistent. Sometimes it doesn't hang.

[2017-10-10 14:44] jeffmacdonald commented on #210
Doing a `service remote_syslog stop; service remote_syslog start` doesn't appear to help either. Additionally after I do start/stop it still sits on FUTEX_WAIT

[2017-11-01 13:34] joshphp commented on #198
I am experiencing the issue with 0.19 as well, 3 separate instances increased until they were using 65% of the system memory. Any steps to see if it was from issues rotating logs?

[2017-11-01 21:16] markdascher commented on #210
Actually, I now wonder if it's just getting hung up on some sort of open-file limitation. If you don't mind emailing into support@papertrailapp.com, we can get to the bottom of it a bit quicker. Then you can send over the full config, without it being public. (The output of ``lsof -p `pgrep remote_syslog` ``, and/or adding `--debug-log-cfg /tmp/remote_syslog.log` to the command-line, may tell us m

[2017-11-02 19:29] jeffmacdonald commented on #210
Roger that! I'll follow up tomorrow. Thanks

[2017-11-10 12:19] shanab commented on #198
We very recently switched to using v0.20-beta2, and it seems consistent with regards to memory consumption.

@markdascher thanks for the suggestion.

[2017-11-14 17:40] markdascher commented on #210
Solved issue by configuring stricter log file rotation, to prevent remote_syslog2 from bumping into [inotify limits](https://github.com/papertrail/remote_syslog2#inotify).

[2017-11-14 17:40] #210 closed

[2017-12-19 15:25] iprunache opened #212 "remote_syslog keeps watching deleted files"
Hi, I'm using v0.19 to send logs from containers running on AWS ECS to Papertrail. Some of the apps in those containers are long running and create a couple of log files daily with randomized names.

Lately I've hit a problem where all `inotify watches` on the container instance are being eaten up by `remote_syslog` instances running in the containers. This prevents `remote_syslog` from watching a

[2017-12-19 22:06] markdascher commented on #212
That's an excellent description of a bug with v0.19, where it sometimes hangs onto files after they've been deleted. The good news is we've fixed this in [v0.20](https://github.com/papertrail/remote_syslog2/releases/tag/v0.20), which was just released moments ago! Mind giving that a shot and letting us know if the `lsof` output improves?

[2017-12-20 04:13] iprunache commented on #212
Heh, I missed that release by a couple of hours. Great news with v0.20! I will definitely give it a check.

[2017-12-20 07:11] iprunache commented on #212
That seems to do the job! v0.20 stops watching deleted files. Thanks!

Regarding the `--poll` flag, any idea why it has no effect? Didn't have much time to look over the code but at first sight it looks like it's not implemented in `remote_syslog`.

[2017-12-20 07:11] #212 closed

[2017-12-20 17:22] tterrace commented on #176
Thanks! I've updated and I haven't seen any issues since. If it does happen again I'll comment but I think you can close this out.

[2017-12-28 14:09] markdascher commented on #212
You're correct that the current version no longer behaves any differently with the `--poll` flag. The default behavior could be described as a hybrid that uses filesystem notifications by default, but incorporates polling when needed. The jury's still out on whether that'll work for everyone, or if we'll still need to bring explicit polling back for some edge cases. (Hence the current indecision o

[2017-12-29 09:33] iprunache commented on #212
Thanks for the explanation!

[2017-12-29 23:15] #198 closed

[2018-01-24 07:10] deoren opened #214 "RFE: "one-shot" mode"
Hi,

First of all, many thanks for providing this app. I've used it several times when testing remote syslog receiver configurations (rsyslog in my case).

I was happy to find that remote_syslog2 supports overriding the source hostname for forwarded messages, which seems to be a rare feature in syslog clients that I've come across thus far.

One thing that would make this application even more use

[2018-02-18 17:18] dvershinin opened #215 "YUM repository?"
Can we have a YUM repository setup to facilitate easy upgrades.

The latest release contains

But I wouldn't even be aware of it should I have not checked on the releases here.

Should be as easy as ```yum upgrade``` instead.

[2018-02-25 20:41] stanislavromanov commented on #3
Why is this issue closed? This is still an issue on `v0.20-stable`.

[2018-03-28 02:08] GabrielBianconi commented on #215
+1

[2018-03-28 16:24] deoren commented on #215
+1 for yum repo
+1 for apt repo

Even with those wishlist items, many thanks for making this tool available for everyone to use.

[2018-05-08 00:07] dfuentes77 commented on #215
I keep coming back in hopes that there is a yum repo finally :(

[2018-05-08 21:36] dvershinin commented on #215
For anyone struggling on CentOS / RedHat 7 (myself included), I've setup an automated build to a repository of my own

### Setup YUM repository for CentOS 7

    rpm -ivh https://extras.getpagespeed.com/redhat/7/noarch/RPMS/getpagespeed-extras-7-0.el7.gps.noarch.rpm
    yum install remote_syslog2

### To update to a new version of remote_syslog2

Just send a pull request with the new version numbe

[2018-05-08 21:36] #215 closed

[2018-05-30 20:07] #176 closed

[2018-08-07 21:48] cozylife opened #217 "Apt Repository?"
Traditionally software installs for servers use a package manager, or at least have an updated file that simply says "latest" in the name instead of the version number.

To make deployments much easier, I highly recommend having at least a file named similarly to "remote-syslog2_latest_amd64.deb." When you've gotten to 1.X, to prevent breaking systems, "remote-syslog2_latest_1.x_amd64.deb" or the

[2018-08-15 20:39] necrose99 opened #218 "arm64 and windows builds and...."
Dear mark on arm64 server , esp with zip for 32 bit legacy arm7hf or arm7 apps ...
but thanks for the few tips by email hear a few of my'n own.

https://www.dropbox.com/s/6hpk14dirlxht4l/remote_syslog2-0.20.tar.xz?dl=0

compiled with [**gox**](https://github.com/mitchellh/gox) ,  the go build begets a native arm64..

gox will do windows linux etc etc.. oh and Bsd as well most of the time...

linux

[2018-08-15 20:43] necrose99 commented on #218
Microsoft Windows [Version 10.0.16299.371]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\Mike-LTPC>C:\Users\Mike-LTPC\Dropbox\remote_syslog2-0.20_windows_amd64.exe
2018-08-15 20:42:45 CRITICAL  remote_syslog.go:240 Failed to start server: No destination hostname specified

C:\Users\Mike-LTPC>
well all be...

[2018-10-29 19:17] kdykeman opened #219 "Vendored version of loggo includes a GPLv3 "COPYING" file"
The vendored version of `github.com/howbazaar/loggo` includes a [GPLv3 "COPYING" file](https://github.com/howbazaar/loggo/blob/384be41088235af6d26ba66786fd23c45b2d5311/COPYING). In more recent revisions, the COPYING file has been removed and the license is clearly indicated to be LGPLv3. Can you bump to a newer version to reduce possible confusion?

[2018-10-30 17:49] shadowbq opened #220 "Create an includes_patterns for explicit log lines"
There are situations where we dont want the entire log file, (catalina/tomcat) to dump into remote syslog.

I know there was a previous issue thar was complicated, but this could just be implemented with a config that fails if both `includes_patterns` and `excludes_patterns` both exist  to at east add value.

[2018-12-13 08:41] kdykeman commented on #219
bump

[2019-01-13 01:15] pridit commented on #167
Thanks for the follow-up, to answer your questions:

* TLS
* 36 for the first, and 55 for the second

Logs around this time all came through without issue, but specifically missed two that both occurred on the same second. The logs around the two in question were several minutes apart, so a sizeable gap. I had other logs that were a few seconds prior but I have my filter set to drop those particul

[2019-02-19 22:29] ckelloug2 opened #223 "syslog does not pass tests under go 1.11.5 so the build shows failed"
There are two errors related to formatting output errors that keep the syslog subpackage from building and passing tests.  The first is in syslog_test.go, the second is in packet_test.go.  I'm including the patch I used to get it to build and pass tests.

diff --git a/syslog/packet_test.go b/syslog/packet_test.go
index ef3e419..6209846 100644
--- a/syslog/packet_test.go
+++ b/syslog/packet_test.go

[2019-03-20 03:18] ibash commented on #167
I'm using the papertrail add on in heroku and noticed the same problem. This makes the service a no-go.

[2019-03-22 11:34] pridit commented on #167
Yep, I unfortunately can't afford to have logs dropping erroneously so won't be continuing, and this clearly isn't a priority for the team.

[2019-06-14 12:12] polarathene opened #224 "Project Status?"
Is this project no longer being developed/maintained?

It's nearing 2 years since the last commit and there are issues and PRs since then that don't seem to be addressed.

If the project is no longer being developed further, but is still maintained to some degree, could that please be mentioned in the README, or if it is no longer being maintained either, can that be pointed out in the README?

[2019-06-14 18:01] cce commented on #223
Thanks! Fixed in #225.

[2019-06-14 18:01] #223 closed

[2019-06-15 01:09] cce commented on #219
The [LICENSE](https://github.com/papertrail/remote_syslog2/blob/master/vendor/github.com/howbazaar/loggo/LICENSE) declaration in that vendored directory says:

The [COPYING.LESSER](https://github.com/papertrail/remote_syslog2/blob/master/vendor/github.com/howbazaar/loggo/COPYING.LESSER) file in that vendored directory says:

I believe these three files (LICENSE, COPYING, and COPYING.LESSER) are be

[2019-06-15 01:09] #219 closed

[2019-07-29 05:15] sriedel opened #227 "Allow reading logs from fifo files (named pipes)"
It would be nice to be able to grab the logs from named pipes created with mkfifo. Currently attempting to do this results in the error "Illegal seek".

The use case here is running the application in a docker container, where the docker host is tied down so much configuration wise that "proper" solution of configuring docker to send its logs to papertrail is not feasable.

[2019-08-12 10:08] sssurii opened #228 "Not found any executable file to copy to '/usr/local/bin'"
I have downloaded the package using.
`wget -c https://github.com/papertrail/remote_syslog2/archive/v0.20.tar.gz -O - | tar -xz`

As after extracting it goes to `remote_syslog2-0.20` directory, so i move it to mentioned folder.
`mv remote_syslog2-0.20 remote_syslog`
to follow : https://help.papertrailapp.com/kb/configuration/configuring-centralized-logging-from-text-log-files-in-unix#manual
now it

[2019-08-12 12:19] #228 closed

[2019-08-12 12:20] sssurii commented on #228
I was trying to download wrong file. Correct file is : https://github.com/papertrail/remote_syslog2/releases/download/v0.20/remote_syslog_linux_amd64.tar.gz

[2019-10-01 09:20] ollycross commented on #215
@dvershinin is this Yum repository now paywalled?

[2019-10-01 09:22] dvershinin commented on #215
@ollycross yep

[2019-10-01 09:23] ollycross commented on #215
@dvershinin  Alrighty

[2019-11-17 06:34] iameli commented on #227
I'd love this as well.

[2019-12-03 16:09] cipriancraciun opened #231 "Regarding RFC 5425 compliance (i.e. "Transport Layer Security (TLS) Transport Mapping for Syslog")"
According to [RFC 5425 "Transport Layer Security (TLS) Transport Mapping for Syslog"](https://tools.ietf.org/html/rfc5425) -- the counterpart of [RFC 5424](https://tools.ietf.org/html/rfc5424) -- namely section 4.3 "Sending data", the proper framing for syslog over TCP with TLS is:

[code]

(I.e. the message is prefixed with the bytes count of the entire frame.)

However looking in the `remote_sys

[2020-05-14 23:34] ivanovv commented on #82
For anyone who stumbled that issue, while having this error in the terminal
[code]

Most likely you forgot to change the read permissions on the `/etc/log_files.yml` file.
Depending

[2020-05-14 23:42] ivanovv commented on #145
For me the problem was in these two lines:

[code]

Looks like you can use root as user name and group name at the same time.

The error was
[code]

[2020-05-15 00:16] johlym commented on #145
Good catch @ivanovv. Unfortunately, I don't maintain this since I don't work at Papertrail anymore, but still super helpful.

[2021-03-25 18:26] nomanilyas16 opened #232 "How can I install remote_syslog2 on mac os catalina?"

[2021-05-02 22:11] Padrio opened #233 "FreeBSD compatible?"
Since im not very experienced with compiling software on FreeBSD i rather ask first: Is this software optimized to run on FreeBSD?

[2021-09-06 07:11] abhi-nestegg opened #235 "How to setup Token based destination in config"
I am trying to setup Token based destination for my logs. However, cannot find any example config for the same.
I am using Elastic Beanstalk, so it would be great if a sample configuration can be shared for the same.

[2021-09-23 16:50] goodale opened #236 "omit newline characters"
I am using the log4j2 JSON layout with` compact="true"` setting.    papertrails (papertrailsapp.com) is not recognizing the data as JSON and their support folks think the issue is that remote_syslog2 is adding newline characters.

Is there a way to omit remote_syslog2 from doing this?

[2021-09-29 20:51] markdascher commented on #236
After some additional research, we've determined that the log4j2 JSON situation boils down to this:

* `compact=false` (default) results in Papertrail receiving JSON messages split up into multiple lines
* `compact=true` results in no newlines at all, which might prevent remote_syslog2 from sending anything at all
* The solution is `compact=true eventEol=true`, which keeps each individual JSON mes

[2021-10-27 21:16] jpbarbosa opened #237 "remote_syslog2 on Ubuntu arm64 (like AWS Graviton)"
# remote_syslog2 on Ubuntu 20.04 arm64

This was tested with AWS Graviton 2.

### Add System (on Papertrail dashboard)

* https://papertrailapp.com/systems/setup?type=system&platform=unix

[code]

### Download and unpack

[code]

### Build using go language

[code]

### Make system wide available

[code]

### Create init

[code]

### Create remote_syslog service

[code]

[code]

### Create basic c

[2021-11-19 22:14] markdascher commented on #156
Fixed by #240

[2021-11-19 22:14] #156 closed

[2021-11-19 22:18] markdascher commented on #233
It is now! We just added FreeBSD support in #240, currently available in the [v0.21-beta1](https://github.com/papertrail/remote_syslog2/releases/tag/v0.21-beta1) release.

[2021-11-19 22:18] #233 closed

[2021-11-19 22:24] markdascher commented on #218
We've added native builds for a few more operating systems in #221 and #240, which should also fix most of those build errors shown above. I'm going to close this issue for now, but please let us know if there's more to do here.

Thanks!

[2021-11-19 22:24] #218 closed

[2021-11-19 22:32] markdascher commented on #235
We've just added token support in #239. There aren't many examples yet, but basically you'll just start with a regular config, but then replace the `destination` section with:

[code]

Does that make sense? I'll leave this issue open until we have it more thoroughly documented.

Also be sure to use the latest release, at least [v0.21-beta1](https://github.com/papertrail/remote_syslog2/releases) or

[2021-11-22 12:26] abhi-nestegg commented on #235
Makes sense @markdascher Thank you!

[2021-11-25 22:13] mstorsjo opened #243 "Packages for linux/arm64 wanted"
It would be nice to have a new release from the latest code in git.

The latest release is from 2017 (which isn't an issue in itself as the binary seems to work mostly fine), but it's missing binaries/packages for linux/arm64, which would be provided now if a new release would be built.

[2021-11-29 13:55] markdascher commented on #243
Would you be willing to try the latest pre-release listed [here](https://github.com/papertrail/remote_syslog2/releases), currently v0.21-beta1? It's only a pre-release due to how new it is. Once it's been out for a bit, a full release will be produced using the same code.

[2021-11-29 13:57] mstorsjo commented on #243
Oh, sorry, I totally missed the prerelease. I'll give it a spin and let you know - thanks!

[2021-11-30 13:04] mstorsjo commented on #243
I can confirm that the new prerelase works as expected on both linux/amd64 and linux/arm64. Thanks!

[2022-06-30 18:47] luckman212 commented on #227
Came here to ask this too!

[2022-07-07 05:05] ivanovv commented on #233
@markdascher do you plan to release that?

[2022-07-12 14:19] larytet opened #247 "Using rsyslog imudp/imtcp"
Is the following expected to work?
rsyslog configuration
[code]

Run remote_syslog
[code]

I see

[code]

I don't see rsyslog producing output.

If I use `imfile` and tail instead everything works fine

[code]

[code]
What am I missing?

[2022-07-12 14:42] #247 closed

[2022-07-21 19:05] markdascher commented on #233
Thanks for the reminder! There haven't been any complaints regarding the beta, so we've just released version 0.21 including the additional builds.